@import '../../scss/style.scss';

.form {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100%;

  &__container-items {
    display: flex;
    flex-direction: column;
    width: 32rem;
    padding: 2rem;
    border: 0.1rem $light-gray-color solid;
    border-radius: 0.5rem;
    list-style-type: none;
    column-count: 2;
  }

  &__container-items li {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    margin-top: 1rem;
    font-size: 1.5rem;
  }

  & h1 {
    font-size: 2.5rem;
  }

  &__btn-color {
    background-color: $twitter-color;
  }

  &__error {
    display: none;
  }


  &__changePhoto {
    margin-bottom: 10rem;
  }

  &__pic {
    height: 100px;
    width: 100px;
    position: absolute;
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid grey;
    margin: 30px 4px;
  }

  &__uploadBtn {
    height: 40px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    background: rgba(0, 0, 0, 0.7);
    color: $bg-color-1;
    line-height: 30px;
    font-size: 10px;
    cursor: pointer;
    display: none;
  }

  &__photo {
    height: 100%;
    width: 100%;
  }

  &__uploadFile {
    display: none;
    margin-top: 115px;
    margin-bottom: -90px;
  }
}

.profile__content {
  display: flex;
  flex-wrap: wrap;
  margin-top: 2rem;
}

.profile__info {
  flex: 1 1 20rem;
}

.profile__orders {
  flex: 3 1 60rem;
  margin-left: 1rem;
}

table {
  width: 100%;
}

th {
  text-align: left;
}

tbody>tr:nth-child(odd) {
  background-color: $bg-color-1;
}

td {
  padding: 0.5rem;
}