<div class="profile__content">
  <div class="profile__info">
    <div class="form">
      <form class="form__container">
        <ul class="form__container-items">
          <div class="form__changePhoto">
            <li>
              <h1>Профиль</h1>
              <div class="form__pic">
                <img class="form__photo" src="" />
                <label class="form__uploadBtn" for="file">Загрузить фото</label>
              </div>
              <input class="form__uploadFile" type="file" />
            </li>
          </div>
          <li>
            <label for="login">Имя пользователя</label>
            <input class="form__login" type="login" name="login" value="{{login}}" />
          </li>
          <li>
            <label for="email">Email</label>
            <input class="form__email" type="email" name="email" value="{{email}}" />
          </li>
          {{! <li>
            <label for="password">Изменить пароль</label>
            <input class="form__password" type="password" name="password" />
          </li>
          <li>
            <label for="password">Подтвердить новый пароль</label>
            <input class="form__confirm-password" type="password" name="confirm-password" />
          </li> }}
          <li>
            <a href="/update">
              <button class="form__btn-color" type="submit">Обновить</button>
            </a>
          </li>
          <li>
            <a href="/logout">
              <button class="form__signout-button" type="button">Выйти из
                профиля</button>
            </a>
          </li>
        </ul>
      </form>
    </div>

  </div>
  <div class="profile__orders">
    <h2>История заказов</h2>
    <table class="table">
      <thead>
        <tr>
          <th>Номер заказа</th>
          <th>Дата</th>
          <th>Сумма</th>
          <th>Статус оплаты</th>
          <th>Статус доставки</th>
          <th>Действия</th>
        </tr>
      </thead>
      <tbody class="table-body">

        {{!-- <tr>
          <td class="order-id">'No'</td>
          <td class="date">'No'</td>
          <td class="cost">'No'</td>
          <td class="pay-status">'No'</td>
          <td class="delivery-status">'No'</td>
          <td><a href="/#/order/">Детали</a> </td>
        </tr> --}}
      </tbody>
    </table>
  </div>
</div>