<span class="g-page-title">Мои заказы</span>
<table class="my_account_orders">

    <thead>
        <tr>
            <th class="order-number">Заказ</th>
            <th class="order-date">Стоимость</th>
            <th class="order-total">Дата и время заказа</th>
            {{! <th class="order-actions">Actions</th> }}
        </tr>
    </thead>

    <tbody class="table-body">

    </tbody>
</table>