@import "../../styles/main.scss";

.cart {
  font-size: 1vw;
  font-family: Open Sans, sans-serif;
  /* margin-top: 5vh; */
  @media screen and (max-width: $breakMobile) {
    margin-left: 10vw;
    margin-right: 10vw;
  }
}

.container {
  position: relative;
  max-width: 1320px;
  margin: 0 auto;
  /* padding: 0 28px; */
}

.title-page {
  margin-bottom: 35px;
  font-size: 3vh;
}

.basket__table_header {
  border-bottom: 1px solid #eee;
  padding-bottom: 5px;
}

.basket__table_row {
  display: flex;
  position: relative;
}

.basket__table_cell {
  -webkit-box-align: center;
  align-items: center;
  display: flex;
}

.basket__table_cell.basket__table_cell--name {
  -webkit-box-flex: 1;
  flex: 1;
  padding-right: 20px;
  @media screen and (max-width: $breakTablet) {
    /* flex: 1 0 22%; */
    flex: 1 0 22%;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-right: 0;
  }
  @media screen and (max-width: $breakMobile) {
    flex: 1 0 14%;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-right: 0;
  }
  /* @media screen and (max-width: 400px) {
    flex: 0 0 14%;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-right: 0;
  } */
}

.basket__table_label {
  color: #909090;
  font-size: 15px;
}

.basket__table_cell.basket__table_cell--number {
  -webkit-box-flex: 0;
  flex: 0 0 100px;
  padding-right: 15px;
  width: 100px;
  /* span {
    @media screen and (max-width: $breakMobile) {
      display: none;
    }
  } */
}

.basket__table_cell.basket__table_cell--price {
  -webkit-box-flex: 0;
  flex: 0 0 100px;
  width: 100px;
  /* .basket__table_label {
    @media screen and (max-width: $breakMobile) {
      display: none;
    }
  } */
  @media screen and (max-width: $breakMobile) {
    flex: 0 0 15%;
  }
  /* @media screen and (max-width: 400px) {
    flex: 0 0 15%;
  } */
}

.basket__table_price--transform {
  transform: translateX(-30px);
}

.basket__table_cell.basket__table_cell--count {
  -webkit-box-flex: 0;
  flex: 0 0 140px;
  padding: 0 15px;
  width: 140px;
  justify-content: center;
  @media screen and (max-width: $breakMobile) {
    width: 45%;
    flex: 0 0 10%;
    padding: 0 10px;
  }
  /* @media screen and (max-width: 400px) {
    width: 45%;
    flex: 0 0 10%;
    padding: 0 10px;
  } */
  /* span {
    @media screen and (max-width: $breakMobile) {
      display: none;
    }
  } */
}

/* .spinner_count {
  @media screen and (max-width: $breakMobile) {
    margin-left: 20px;
  }
} */

.basket__table_cell.basket__table_cell--sum {
  -webkit-box-flex: 0;
  flex: 0 0 90px;
  -webkit-box-pack: end;
  justify-content: flex-end;
  width: 90px;
  @media screen and (max-width: $breakMobile) {
    width: 33%;
    flex: 0 0 16%;
  }
  /* .basket__table_label {
     @media screen and (max-width: $breakMobile) {
      display: none;
    } 
  }*/
}

.basket__table_cell.basket__table_cell--remove {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  /* top: 20px; */
  right: 0;
  @media screen and (max-width: $breakTablet) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    /* top: 20px; */
    right: 0;
  }
}

.basket__table_body {
  border-bottom: 1px solid #eee;
  padding: 15px 0;
  font-size: 16px;
  @media screen and (max-width: $breakTablet) {
    font-size: 16px;
  }
  @media screen and (max-width: $breakMobile) {
    font-size: 10px;
  }
}

.basket__table_row {
  /* border-bottom: 1px solid #eee; */
  padding: 15px 0;
  display: flex;
  position: relative;
  flex-wrap: wrap;
}

.basket__table_cell-row {
  /* align-items: center; */
  display: flex;
  align-items: center;
  @media screen and (max-width: $breakTablet) {
    flex-direction: column-reverse;
    align-items: flex-start;
  }
  @media screen and (max-width: $breakMobile) {
    flex-direction: column-reverse;
    align-items: flex-start;
  }
}

.basket__table_position-img {
  -webkit-box-flex: 0;
  flex: 0 0 100px;
  padding-right: 10px;
  width: 100px;
  margin-right: 25px;
  @media screen and (max-width: $breakTablet) {
    -webkit-box-flex: 0;
    flex: none;
    width: 100px;
  }

  @media screen and (max-width: $breakMobile) {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 70px;
    flex: 0 0 70px;
    width: 70px;
  }
}

.basket__table__img {
  width: 100px;
  @media screen and (max-width: $breakTablet) {
    width: 70px;
  }
}

.basket__table_position-body {
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  @media screen and (max-width: $breakDesktop) {
    width: min-content;
  }
  @media screen and (max-width: $breakTablet) {
    margin-bottom: 20px;
    width: initial;
  }
  @media screen and (max-width: $breakMobile) {
    margin-bottom: 20px;
  }
}

.basket__table_position-link {
  @media screen and (max-width: $breakTablet) {
    padding-right: 40px;
  }
}

.basket__table_position-link:hover {
  color: #1da1f2;
}

.basket__table_position-number {
  margin-top: 10px;
}

.basket__table_position-number > * {
  margin-right: 5px;
}

.basket__table_label {
  color: #909090;
  font-size: 15px;
}

.basket__table_cell.basket__table_cell--price {
  -webkit-box-flex: 0;
  flex: 0 0 100px;
  width: 100px;
  @media screen and (max-width: $breakMobile) {
    width: 100%;
    flex: 0 0 15%;
  }
  /* @media screen and (max-width: 400px) {
    flex: 0 0 15%;
  } */
}

.basket__table_cell {
  -webkit-box-align: center;
  align-items: center;
  display: flex;
}

.currency {
  font-family: clear_sans_ext, Arial, sans-serif;
  display: inline !important;
}

// .basket__table_cell.basket__table_cell--count {
//   -webkit-box-flex: 0;
//   flex: 0 0 140px;
//   padding: 0 15px;
//   width: 140px;
// }

.spinner {
  -webkit-box-align: center;
  align-items: center;
  display: flex;
  @media screen and (max-width: $breakMobile) {
    transform: translateX(-30px);
  }
}

.spinner__action.is-disabled {
  background-color: #fff;
}

.spinner__action {
  width: 30px;
  height: 30px;
  -webkit-box-align: center;
  align-items: center;
  border: 2px solid #000;
  cursor: pointer;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
}

.spinner__action.is-disabled .spinner__action_icon {
  fill: #000;
}

.spinner__action_icon {
  width: 15px;
  height: 15px;
  fill: #fff;
}

.spinner__count {
  width: 50px;
  height: 30px;
  background-color: #fff;
  border: 1px solid $twitter-color;
  line-height: 30px;
  padding: 0;
  text-align: center;
  outline: none;
  border-radius: 5px;

  &::-webkit-inner-spin-button {
    opacity: 1; // magic!
  }
}

.spinner > * {
  margin-right: 5px;
}

.spinner > *:last-child {
  margin-right: 0;
}

.basket__table_cell.basket__table_cell--sum {
  -webkit-box-flex: 0;
  flex: 0 0 90px;
  -webkit-box-pack: end;
  justify-content: flex-end;
  width: 90px;
  @media screen and (max-width: $breakMobile) {
    width: 33%;
    flex: 0 0 8%;
  }
}

.basket__table_text {
  @media screen and (max-width: $breakMobile) {
    transform: translateX(-15px);
  }
}

.basket__table_cell {
  -webkit-box-align: center;
  align-items: center;
  display: flex;
}

.basket__table_text-bold {
  font-family: "clear_sansbold", Arial, sans-serif;
  display: flex;
  @media screen and (max-width: $breakTablet) {
    margin-right: 0;
    margin-left: auto;
  }
  @media screen and (max-width: $breakMobile) {
    margin-right: 0;
    margin-left: auto;
  }
  .raw-total-price-calc {
    @media screen and (max-width: $breakMobile) {
      display: inline-block;
      margin-right: 2px;
    }
  }

  span {
    @media screen and (max-width: $breakMobile) {
      display: inline-block;
    }
  }
}

.basket__table_cell.basket__table_cell--remove {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  /* top: 20px; */
  right: 0;
  @media screen and (max-width: $breakTablet) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    /* top: 20px; */
    right: 0;
  }
}

.basket__table_remove {
  width: 16px;
  height: 16px;
  /* -webkit-box-align: center; */
  /* align-items: center; */
  cursor: pointer;
  position: absolute;
  /* top: 1vh; */
  /* right: 1vh; */
  /* display: flex; */
  /* -webkit-box-pack: center; */
  /* justify-content: center; */
  /* margin-top: 10px; */
}

.basket__table_remove-icon {
  width: 16px;
  height: 16px;
}

.remove-product {
  width: 16px;
  height: 16px;
  fill: #787878;
}

.remove-product svg {
  width: 16px;
  height: 16px;
}

.basket-fiz-form-tab {
  display: flex;
  padding: 10px;
  justify-content: space-between;

  /*  @media screen and (max-width: 1200px) {
    display: block;
  }
 */
  /*  @media screen and (max-width: $breakTablet) {
    display: block;
  }

  @media screen and (max-width: $breakMobile) {
    display: block;
  } */
}

.cart-lines {
  width: 75%;

  /* @media screen and (max-width: 320px) {
    min-width: 300px;
  } */
  /* @media screen and (max-width: $breakTablet) {
    min-width: 500px;
  }  */
}

.cart-line-block {
  display: flex;
  justify-content: space-between;

  /* @media screen and (max-width: 1200px) {
    display: block;
  }

  @media screen and (max-width: $breakTablet) {
    display: block;
  }

  @media screen and (max-width: $breakMobile) {
    display: block;
  } */
}

.legal-entity-block {
  display: none;
}

.cart-block {
  width: 45%;
  margin-right: 30px;
}

.cart-block-title {
  margin-bottom: 30px;
  font-weight: bold;
}

.g-form-block {
  margin-bottom: 15px;
}

.cart-block {
  width: 45%;
}

.form-group {
  margin-bottom: 15px;
}

.g-form-block > .form-group > label,
.cart-line-block > .basket-form-comment > .form-group > label {
  font-size: 16px;
  font-weight: normal;
  display: block;
  margin-bottom: 5px;
  width: 20vw;
}

.form-group > label {
  margin: 5px 0 5px 0;
}

.help-block {
  color: red;
}

.form-group {
  margin-bottom: 15px;
}

.g-form-block--3-col {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
}

.g-form-block--3-col > .g-form-block {
  margin-bottom: 0;
}

.g-form-block--3-col .g-form-block {
  width: 30%;
  margin-right: 20px;
}

/* .cart-line-block {
  display: flex;
  justify-content: space-between;
}
 */
.basket-delivery {
  padding: 0;
  width: 22%;
  /* background-color: #f5f5f5; */
  /* @media screen and (max-width: 1280px) {
    margin-bottom: 40px;
  } */
}

.basket-delivery-options {
  display: block;
}

.basket-delivery__type {
  width: 100%;
  margin-bottom: 30px;
}

.basket-delivery__title {
  font-family: "clear_sansbold", Arial, sans-serif;
  display: block;
  margin-bottom: 25px;
  text-transform: uppercase;
}

.basket-delivery-options .g-form-block:last-child {
  margin-bottom: 0;
}

/* .basket-delivery .g-select {
  font-size: 1vw;
  font-family: Open Sans, sans-serif;
} */

.basket-delivery__type .g-select,
.basket-delivery__payment .g-select {
  padding: 0;
  text-decoration: underline;
  border: 0;
  background-color: transparent;
  margin-left: -3px;
  box-shadow: none;
}

.basket-delivery__payment {
  width: 100%;
  margin-bottom: 30px;
}

.basket-delivery__title {
  font-family: "clear_sansbold", Arial, sans-serif;
  display: block;
  margin-bottom: 25px;
  text-transform: uppercase;
}

.basket-delivery-options .g-form-block:last-child {
  margin-bottom: 0;
}

.checkbox {
  width: 105%;
  position: relative;
  display: block;
  padding-left: 25px;
  cursor: pointer;
}

.basket-order-agree__link {
  border-bottom: 0;
  text-decoration: underline;
}

.form-basket-order-block > .g-form-block > .checkbox > .checkbox-custom {
  background-color: #f5f5f5;
}

.checkbox-custom {
  position: absolute;
  top: 0;
  left: 0;
  width: 15px;
  height: 15px;
  border: 1px solid #d1d1d1;
  box-shadow: inset 0 1px 5px 1px rgb(112, 146, 254);
}

.checkbox-custom .icon {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 9px;
  height: 9px;
  transform: translate(-50%, -50%);
}

.basket-order-total {
  font-size: 19px;
}

.basket-order-total {
  margin-bottom: 10px;
  /* padding: 20px; */
  background-color: #fff;
}

.basket-order-total span {
  display: block;
  width: 20vw;
}

.basket-order-total__number {
  font-family: "clear_sansbold", Arial, sans-serif;
}

.basket-order-buttons .g-btn:last-child {
  margin-bottom: 0;
}

.form-group > input {
  line-height: 40px;
  width: 100%;
  height: 40px;
  padding: 0 15px;
  background-color: #fff !important;
  border: 1px solid $twitter-color;
  background-color: transparent;
  border-radius: 5px;
  outline: none;
  @media screen and (max-width: $breakTablet) {
    width: 70vw;
  }
  @media screen and (max-width: $breakMobile) {
    width: 70vw;
  }
}

.basket-order-buttons .g-btn:last-child {
  margin-bottom: 0;
}
.basket-order-buttons .g-btn {
  width: 100%;
  margin-bottom: 10px;
}

.g-btn,
.promo-btn {
  @include blue-button(80px, 40px);
  @media screen and (max-width: 1920px) {
    @include blue-button(20vw, 40px);
    font-size: 16px;
  }
  @media screen and (max-width: $breakDesktop) {
    @include blue-button(23vw, 45px);
    font-size: 16px;
  }
  @media screen and (max-width: $breakTablet) {
    @include blue-button(23vw, 40px);
    font-size: 16px;
  }
  @media screen and (max-width: $breakMobile) {
    @include blue-button(50vw, 40px);
    font-size: 16px;
  }
  @media screen and (max-width: 320px) {
    @include blue-button(90vw, 40px);
    font-size: 16px;
  }
}

.promo-btn {
  padding: 0;
  max-width: 224px;
}

.order-form {
  display: block;
  padding: 15px 0;
  @media screen and (max-width: $breakDesktop) {
    display: block;
  }
  @media screen and (max-width: $breakTablet) {
    display: none;
  }
  @media screen and (max-width: $breakMobile) {
    display: none;
  }
}

.basket-form {
  display: none;
  @media screen and (max-width: $breakDesktop) {
    display: none;
  }
  @media screen and (max-width: $breakTablet) {
    display: block;
    margin-top: 5vw;
  }
  @media screen and (max-width: $breakMobile) {
    display: block;
    margin-top: 5vw;
  }
}

.basket-form {
  width: 90vw;
}

.basket-form__item_header {
  margin-bottom: 20px;
}

.basket-form__item_header span {
  font-size: 1.5vh;
}

.basket-form-second__item_title {
  /* font-size: 1.5vh;
  margin-bottom: 20px;
  font-weight: bold; */
  font-family: "clear_sansbold", Arial, sans-serif;
  display: block;
  margin-bottom: 25px;
  text-transform: uppercase;
  font-size: 1.5vh;
}

.input-group {
  margin-top: 20px;
}

.basket-form__total {
  margin-bottom: 20px;
}

.basket-form__total span {
  font-size: 1.5vh;
}

@media screen and (max-width: 639px) {
  .basket__table {
    font-size: 12px;
  }
}
@media screen and (max-width: 767px) {
  .basket__table {
    font-size: 13px;
  }
}

.basket__table_mobile-info {
  display: none;
  @media screen and (max-width: $breakTablet) {
    margin-top: 15px;
    position: relative;
    width: 100%;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  @media screen and (max-width: $breakMobile) {
    margin-top: 15px;
    position: relative;
    width: 100%;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.basket-form__item_title {
  font-weight: bold;
}

.promo-input {
  line-height: 40px;
  width: 100%;
  height: 40px;
  padding: 0 15px;
  background-color: #fff !important;
  border: 1px solid #1da1f2;
  background-color: transparent;
  border-radius: 5px;
  outline: none;
}

.coupon-row {
  display: flex;
  justify-content: space-between;
  align-content: center;
  /*  margin: 50px 50px 0 50px; */
}

.coupon-row__column {
  display: block;
  /* width: 50%; */
  display: flex;
  justify-content: flex-end;
}

.giftd-cart-form {
  display: flex;
  flex-direction: column;
}

.giftd-cart-form__row {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}

.giftd-cart-form__fields {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(../../img/gift_bg.jpeg)
    no-repeat;
  background-size: cover;
  min-width: 224px;
  width: 224px;
  height: 119px;
}

.giftd-cart-form__fields > .form-group {
  margin: 0 !important;
}

.giftd-cart-form__fields > .form-group > input {
  width: 200px;
  padding: 0 10px;
}

.giftd-cart-form__actions {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.giftd-cart-form__actions_row {
  margin-bottom: 10px;
  margin-top: 40px;
}

.giftd-cart-form__text {
  font-size: 13px;
  line-height: 21.32px;
}

.giftd-cart-form__row {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.promo-alert-label {
  margin-bottom: 10px;
  margin-top: 10px;
  color: red;
}

s {
  color: red;
}