<div class="layout-inner">
  <div class="cart">
    <div class="container">
      <div class="basket-table">
        <span class="title-page">Корзина</span>
        <div class="basket__table">
          <div class="basket__table_header">
            <div class="basket__table_row">
              <div class="basket__table_cell basket__table_cell--name">
                <span class="basket__table_label">Товар</span>
              </div>
              <div class="basket__table_cell basket__table_cell--price">
                <span class="basket__table_label">Цена</span>
              </div>
              <div class="basket__table_cell basket__table_cell--count">
                <span class="basket__table_label">Количество</span>
              </div>
              <div class="basket__table_cell basket__table_cell--sum">
                <span class="basket__table_label">Сумма</span>
              </div>
              <div class="basket__table_cell basket__table_cell--remove"></div>
            </div>
          </div>
          <div class="basket__table_body">
            <div class="basket__table_row table-product-{{id}}">

            </div>
          </div>
        </div>

        {{!-- <div class="promo-container">
          <input type="text" placeholder="введите промокод" class="promo-input" id="promo-input" />
          <label for="promo-input" style="visibility: hidden;" class="promo-alert-label">Промокод недействителен</label>

          <button class="promo-btn" disabled>Проверить промокод</button>

        </div>  --}}
        <div class="coupon-row">
        <div class="coupon-row__column">
            
<form id="cart-giftd-form" class="giftd-cart-form" action="/cart/add-gift" method="POST">
<input type="hidden" name="_csrf" value="hTE8ElDAvsXv964qWLbowZkgCxJ_7FzZfaIXKSpIVxTmZ0ZRGq3t96q45H4egZC040p8Qk2nJe4ym1EfRQIYWA==">
<label for="promo-input" style="visibility: hidden;" class="promo-alert-label">Промокод недействителен</label>    <div class="giftd-cart-form__row">
        <div class="giftd-cart-form__fields">
            <div class="form-group field-cartgiftdform-code">

<input type="text" id="promo-input" class="promo-input" placeholder="Введите промокод">


</div>        </div>
        <div class="giftd-cart-form__actions">
            <div class="giftd-cart-form__actions_row">
                <button type="submit" class="promo-btn" disabled>Применить</button>            </div>
           {{!--  <div class="giftd-cart-form__text giftd-cart-form__text-description">
                <b>Внимание!</b> Подарочной картой можно воспользоваться 1 раз.
            </div> --}}
        </div>
    </div>
    <div class="giftd-cart-form__row">
        <div class="error-summary" style="display:none"><ul></ul></div>    </div>
    </form>        </div>
        <div class="coupon-row__column">
            
<form id="cart-coupon-form" class="coupon-cart-form" action="/cart/add-coupon" method="POST">
<input type="hidden" name="_csrf" value="hTE8ElDAvsXv964qWLbowZkgCxJ_7FzZfaIXKSpIVxTmZ0ZRGq3t96q45H4egZC040p8Qk2nJe4ym1EfRQIYWA==">   {{!--  <div class="coupon-cart-row">
        <label>Введите код:</label>
        <div class="form-group field-cartcouponform-code required has-error">

<input type="text" id="cartcouponform-code" class="form-control" name="CartCouponForm[code]" aria-required="true" aria-invalid="true">


</div>        <button type="submit" class="btn btn-primary">Применить</button>    </div> --}}
    <div class="coupon-cart-row">
        <div class="error-summary" style="display:none"><ul></ul></div>    </div>
    </form>        </div>
    </div>


        <form class="order-form" action="/profile" method="post">
          <div class="basket-fiz-form-tab">
            <div class="cart-lines">
              <div class="cart-line-block">
                <div class="cart-block">
                  <div class="form-basket-order-block">
                    <div class="cart-block-title"><span>Контактные данные</span></div>
                    <div class="cart-block-content">
                      <div class="g-form-block">
                        <div class="form-group field-orderform-name">
                          <label class="control-label" for="orderform-name">Имя</label>
                          <input type="text" id="orderform-name" class="form-control" />

                          <div class="help-block"></div>
                        </div>
                      </div>
                      <div class="g-form-block">
                        <div class="form-group field-orderform-phone">
                          <label class="control-label" for="orderform-phone">Телефон</label>
                          <input type="text" id="orderform-phone" class="form-control phone" />

                          <div class="help-block"></div>
                        </div>
                      </div>
                      <div class="g-form-block">
                        <div class="form-group field-orderform-email">
                          <label class="control-label" for="orderform-email">Email</label>
                          <input type="text" id="orderform-email" class="form-control" />

                          <div class="help-block"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="cart-block cart-address">
                  <div class="form-basket-order-block">
                    <div class="cart-block-title"><span>Адрес доставки</span></div>
                    <div class="cart-block-content">
                      <div class="g-form-block">
                        <div class="form-group field-orderform-city">
                          <label class="control-label" for="orderform-city">Город</label>
                          <input type="text" id="orderform-city" class="form-control" />

                          <div class="help-block"></div>
                        </div>
                      </div>
                      <div class="g-form-block">
                        <div class="form-group field-orderform-street">
                          <label class="control-label" for="orderform-street">Улица</label>
                          <input type="text" id="orderform-street" class="form-control" />

                          <div class="help-block"></div>
                        </div>
                      </div>
                      <div class="g-form-block--3-col">
                        <div class="g-form-block">
                          <div class="form-group field-orderform-house">
                            <label class="control-label" for="orderform-house">Дом</label>
                            <input type="text" id="orderform-house" class="form-control" />

                            <div class="help-block"></div>
                          </div>
                        </div>
                        <div class="g-form-block">
                          <div class="form-group field-orderform-housing">
                            <label class="control-label" for="orderform-housing">Корпус</label>
                            <input type="text" id="orderform-housing" class="form-control" />

                            <div class="help-block"></div>
                          </div>
                        </div>
                        <div class="g-form-block">
                          <div class="form-group field-orderform-building">
                            <label class="control-label" for="orderform-building">Квартира</label>
                            <input type="text" id="orderform-building" class="form-control" />

                            <div class="help-block"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="basket-delivery">
              <div class="basket-delivery-options">
                <div class="basket-delivery__type"><span class="basket-delivery__title">Доставка</span>
                  <div class="g-form-block">
                    <div class="form-group field-orderform-delivery_method">
                      <label class="g-label g-label--accent" data-link="/cart/update-delivery"
                        for="orderform-delivery_method">Способ доставки</label>
                      <select id="orderform-delivery_method" class="g-select">
                        <option value="0">Самовывоз</option>
                        <option value="1" selected="">Доставка курьером</option>
                        <option value="3">Почта россии</option>
                        <option value="2">Доставка посредством EMS</option>
                      </select>

                      <div class="help-block"></div>
                    </div>
                  </div>
                </div>
                <div class="basket-delivery__payment"><span class="basket-delivery__title">Оплата</span>
                  <div class="g-form-block">
                    <div class="form-group field-orderform-payment_type">
                      <label class="g-label g-label--accent" for="orderform-payment_type">Способ оплаты</label>
                      <select id="orderform-payment_type" class="g-select" name="OrderForm[payment_type]">
                        <option value="1" selected="selected" style="display: block;">Наличными при получении</option>
                        <option value="4" style="display: block;">Оплата онлайн</option>
                      </select>

                      <div class="help-block"></div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="form-basket-order-block">
                <div class="basket-order-total"><span>Итого к оплате:</span><span class="basket-order-total__number">
                    <span class="currency">₽</span></span></div>
              </div>
              <div class="basket-order-buttons">
                <button type="submit" class="g-btn g-btn--black confirm-btn">Оформить заказ</button>
              </div>

            </div>
          </div>
        </form>
        <form class="basket-form" action="/profile" method="post">
          <div class="basket-form__first">
            <div class="basket-form__first_row">
              <div class="basket-form__item">
                <div class="basket-form__item_header"><span class="basket-form__item_title">Контактные данные</span>
                </div>
                <div class="basket-form__item_body">
                  <div class="input-group">
                    <label class="input-group__label">Ваше имя</label>
                    <div class="form-group field-individuals-name">

                      <input type="text" id="individuals-name" class="input-group__field" />

                      <div class="help-block"></div>
                    </div>
                  </div>
                  <div class="input-group">
                    <label class="input-group__label">Телефон</label>
                    <div class="form-group field-individuals-phone">

                      <input type="text" id="individuals-phone" class="input-group__field phone" />

                      <div class="help-block"></div>
                    </div>
                  </div>
                  <div class="input-group">
                    <label class="input-group__label">E-mail</label>
                    <div class="form-group field-individuals-email">

                      <input type="text" id="individuals-email" class="input-group__field" />

                      <div class="help-block"></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="basket-form__item">
                <div class="basket-form__item_header">
                  <span class="basket-form__item_title">Адрес доставки</span>
                </div>
                <div class="basket-form__item_body">
                  <div class="input-group">
                    <label class="input-group__label">Город</label>
                    <div class="form-group field-individuals-city">

                      <input type="text" id="mobile-city" class="input-group__field" />

                      <div class="help-block"></div>
                    </div>
                  </div>
                  <div class="input-group">
                    <label class="input-group__label">Улица</label>
                    <div class="form-group field-individuals-street">

                      <input type="text" id="mobile-street" class="input-group__field" />

                      <div class="help-block"></div>
                    </div>
                  </div>
                  <div class="input-group-multiple">
                    <div class="input-group">
                      <label class="input-group__label">Дом</label>
                      <div class="form-group field-individuals-house">

                        <input type="text" id="mobile-house" class="input-group__field" />

                        <div class="help-block"></div>
                      </div>
                    </div>
                    <div class="input-group">
                      <label class="input-group__label">Корпус</label>
                      <div class="form-group field-individuals-housing">

                        <input type="text" id="individuals-housing" class="input-group__field"
                          name="OrderForm[housing]" />

                        <div class="help-block"></div>
                      </div>
                    </div>
                    <div class="input-group">
                      <label class="input-group__label">Квартира</label>
                      <div class="form-group field-individuals-building">

                        <input type="text" id="individuals-building" class="input-group__field"
                          name="OrderForm[building]" />

                        <div class="help-block"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="basket-form__second">
            <div class="basket-form-second__item">
              <span class="basket-form-second__item_title">Доставка</span>
              <div class="input-group">
                <label class="input-group__label input-group__label--color-orange">Способ доставки</label>
                <div class="form-group field-individuals-delivery_method">

                  <select id="individuals-delivery_method" class="select">
                    <option value="0">Самовывоз</option>
                    <option value="1" selected="">Доставка курьером</option>
                    <option value="3">Почта россии</option>
                    <option value="2">Доставка посредством EMS</option>
                  </select>

                  <div class="help-block"></div>
                </div>
              </div>
            </div>
            <div class="basket-form-second__item"><span class="basket-form-second__item_title">Оплата</span>
              <div class="input-group">
                <label class="input-group__label input-group__label--color-orange">Способ оплаты</label>
                <div class="form-group field-individuals-payment_type">

                  <select id="individuals-payment_type" class="select">
                    <option value="1">Безналичным переводом</option>
                    <option value="4">Оплата онлайн</option>
                  </select>

                  <div class="help-block"></div>
                </div>
              </div>
            </div>

            <div class="basket-form-second__item_group">
              <div class="basket-form__total">
                <span class="basket-form__total_text">Итого к оплате: </span>
                <span class="basket-form__total_number basket-order-total__number-mobile"><span
                    class="currency">₽</span></span>

              </div>
              <button class="g-btn g-btn--black confirm-btn-mobile">Оформить</button>
            </div>
          </div>
      </div>

      </form>
    </div>
  </div>
</div>