@import "../../styles/main.scss";

.product-table {
  width: 100%;

  &-inner {
    // display: flex;
    // flex-direction: column;
  }

  &__title {
    font-size: 1.5rem;
    margin: 0 0 2rem !important;
    text-align: center;

    // @media screen and (max-width: $breakMobile) {
    //   margin-left: 4vw;
    //   margin-right: 4vw;
    // }
  }

  &-body {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 2rem;
    width: 100%;
    // margin: 0 1.5rem;
  }
}

// .layout-inner-homepage {
//   margin-top: 5vh;
// }