<div class="layout-inner">
  <div class="product-table" id="product-tabletrends">
    <div class="product-table-inner">
      <span class="product-table__title">Рекомендации</span>

      <div class="product-table-body" id="product-table-bodytrends">
      </div>
    </div>
  </div>

  <div class="product-table" id="product-table{{id}}">
    <div class="product-table-inner">
      <span class="product-table__title">Все товары</span>

      <div class="product-table-body" id="product-table-body"></div>

    </div>
  </div>
</div>