@import "../../styles/main.scss";

.board {
  font-style: normal;
  font-weight: normal;
  /* @include shadow-block(#fff); */
  padding: 2vh;
  margin: 1.5vw auto 3vh;
  @media screen and (max-width: $breakDesktop) {
    padding: 0 1.5vh;
  }

  &-inner {
    display: flex;
    width: 100%;
  }

  &-left {
    width: 75%;

    @media screen and (max-width: $breakDesktop) {
      width: 65%;
    }
    @media screen and (max-width: $breakMobile) {
      width: 100%;
    }
  }

  &-right {
    width: 40%;
    /* display: flex; */
    @media screen and (max-width: $breakDesktop) {
      width: 35%;
    }

    @media screen and (max-width: $breakMobile) {
      display: none;
    }
  }

  &-bottom {
    @media screen and (max-width: $breakMobile) {
      margin: 0 4vw;
    }
  }
}

.slides {
  display: flex;
  margin-top: 2vw;

  &__picture {
    /* margin-top: 0;
      width: 35vw;
      object-fit: cover;
      user-select: none; */
    margin-top: 0;
    width: 41vw;
    /* height: 50vh; */
    object-fit: cover;
    user-select: none;

    @media screen and (max-width: $breakMobile) {
      width: 100%;
    }
    @media screen and (max-width: $breakDesktop) {
      width: 100%;
    }
  }
}

.info-card {
  display: block;
  position: inherit;
  top: 10vh;
  margin: 2vw 0 0 0.3vw;
  padding-bottom: 1vw;
  font-style: normal;
  font-weight: normal;
  padding-left: 1vh;
  @media screen and (max-width: $breakMobile) {
    display: none;
  }

  &__name {
    font-size: 2vw;
    margin-top: 2vh;
    margin-bottom: 1vh;
  }

  &__price {
    font-size: 2vw;
    margin-top: 2vh;
    margin-bottom: 1vh;

    @media screen and (max-width: $breakDesktop) {
      font-size: 3vh;
    }
  }

  &__separator {
    display: none;
    @include separator;
  }

  &-content {
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  &-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  &-rating {
    @include star;
    width: 15vh;

    margin-top: 1vh;

    display: flex;
    align-items: center;

    &__text {
      font-size: 3vh;
      margin-right: 0.5vh;

      @media screen and (max-width: $breakDesktop) {
        font-size: 1.5vh;
      }
    }

    &__rate span {
      /* margin-right: 0.5vh; */

      @media screen and (max-width: $breakDesktop) {
        font-size: 1.5vh;

        @media screen and (max-width: 1400px) {
          font-size: 1.7vh;
        }
      }
    }
  }
  &-btn {
    &__wrap {
      display: flex;
    }

    &__cart,
    &__add-cart {
      @include blue-button(80%, 4vh);
      margin-top: 2vh;
      background-color: $twitter-color;
      @media screen and (max-width: $breakDesktop) {
        font-size: 1.4vh;
      }
      @media screen and (max-width: $breakTablet) {
        font-size: 1.4vh;
      }
    }

    &__favorite,
    &__add-cart {
      @include blue-button(80%, 4vh);
      margin-top: 2vh;
      background-color: $twitter-color;
      @media screen and (max-width: $breakDesktop) {
        font-size: 1.4vh;
      }
      @media screen and (max-width: $breakTablet) {
        font-size: 1.4vh;
      }
    }

    &__like {
      @include white-button(20%, 4vh);
      margin-top: 2vh;
      margin-left: 1vw;
      box-shadow: 0 0 1vh rgba(0, 0, 0, 0.1);
    }
  }

  &__like {
    .product-card__like {
      position: inherit;
      right: 0.5vw;
      width: 2.9vh;
      height: 3.9vh;
    }
  }

  &-about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    &__span {
      margin-top: 4vw;
      font-size: 20px;
      margin-bottom: 1vh;
      color: #909090;
    }
    &__description {
      font-size: 1vw;
      font-family: Open Sans, sans-serif;
    }
  }
}

.info-card-mobile {
  display: none;
  position: sticky;
  top: 10vh;
  margin: 2vw 0 0 0.3vw;
  padding-bottom: 5vw;
  font-style: normal;
  font-weight: normal;
  padding-left: 1vh;
  @media screen and (max-width: $breakMobile) {
    display: block;
  }

  &__name {
    /* font-size: 2vw;
    margin-top: 2vh;
    margin-bottom: 1vh; */
    display: none;
    @media screen and (max-width: $breakMobile) {
      display: inline;
      font-family: Roboto-Thin, sans-serif;
      font-size: 4vh;
      font-weight: 600;
    }
  }

  &__price {
    font-size: 2vw;
    text-align: center;
    margin-top: 2vh;
    margin-bottom: 1vh;

    @media screen and (max-width: $breakMobile) {
      font-size: 3vh;
      text-align: left;
      margin-top: 0.8vh;
    }
  }

  &__separator {
    display: none;
    @include separator;
  }

  &-content {
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  &-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  &-rating {
    @include star;
    width: 15vh;

    margin-top: 1vh;

    display: flex;
    align-items: center;

    &__text {
      font-size: 2vh;
      margin-right: 0.5vh;

      @media screen and (max-width: $breakMobile) {
        font-size: 2.5vh;
      }
    }

    &__rate span {
      @media screen and (max-width: $breakMobile) {
        font-size: 2.5vh;
      }
    }
  }
  &-btn {
    &__wrap {
      display: flex;
    }

    &__cart,
    &__add-cart {
      @include blue-button(80%, 4vh);
      margin-top: 2vh;
      background-color: $twitter-color;
    }

    &__like {
      @include white-button(20%, 4vh);
      margin-top: 2vh;
      margin-left: 1vw;
      box-shadow: 0 0 1vh rgba(0, 0, 0, 0.1);
    }
  }

  &__like {
    .product-card__like {
      position: inherit;
      right: 0.5vw;
      width: 2.9vh;
      height: 3.9vh;
    }
  }

  &-about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    &__span {
      /* margin-top: 4vw;
      font-size: 2vw;
      margin-bottom: 1vh;
      color: #909090; */
      @include description-label;
      font-family: SF Pro Display, sans-serif;
      margin-top: 1vh;
      margin-bottom: 1vh;
    }
    &__description {
      /* font-size: 1vw;
      font-family: Open Sans, sans-serif; */
      font-family: Open Sans, sans-serif;
      line-height: 3vh;
      color: #000000;
    }
  }
}

.navigation {
  font-style: normal;
  font-weight: normal;
  font-size: 2vh;
  height: 3vh;
  /* width: 95vw; */
  width: 30vw;
  display: flex;
  margin: 2vh;

  &-inner {
    margin: auto 0;
  }

  &-back {
    cursor: pointer;
  }
}

.slider {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 2vw;
}

@media screen and (max-width: 576px) {
  .slider-inner {
    width: 15%;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

.carousel-wrapper {
  position: relative;
  overflow: hidden;
  width: 5vw;
  height: 43vh;
  @media screen and (max-width: 768px) {
    width: 6vh;
  }
}

.mini-img-container {
  width: 60px;
  height: 420px;
  visibility: visible;
  position: absolute;
  visibility: hidden;
}

.picture-frame img {
  padding-top: 1vh;
  padding-bottom: 1vh;
  opacity: 1;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -o-object-fit: cover;
  object-fit: cover;
  cursor: pointer;
  width: 5vw;
  height: 4vw;
  @media screen and (max-width: 768px) {
    width: 6vh;
    height: 5vh;
  }
}

.slider-preview {
  padding-left: 2vw;
  padding-right: 2vw;
  @media screen and (max-width: 1024px) {
    width: 100%;
  }

  @media screen and (max-width: 576px) {
    width: 85%;
    padding-right: 0;
  }
}

.slider-preview__picture {
  margin-top: 0;
  width: 41vw;
  height: 50vh;
  -o-object-fit: cover;
  object-fit: cover;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  @media screen and (max-width: 1024px) {
    width: 100%;
  }

  @media screen and (max-width: 576px) {
    width: 100%;
  }
}

.info-favorite-btn__favorite {
  @include blue-button(30vw, 4vh);
  min-width: 230px;
  
  margin-top: 2vh;
  background-color: $twitter-color;
}
