/* @import '../../scss/main.scss';

.form {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100%;

  &__container-items {
    display: flex;
    flex-direction: column;
    width: 32rem;
    padding: 2rem;
    border: 0.1rem $light-gray-color solid;
    border-radius: 0.5rem;
    list-style-type: none;
    column-count: 2;
  }

  &__container-items li {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    margin-top: 1rem;
    font-size: 1.5rem;
  }

  & h1 {
    font-size: 2.5rem;
  }

  &__btn-color {
    background-color: $twitter-color;
  }

  &__error {
    display: none;
  }


  &__changePhoto {
    margin-bottom: 10rem;
  }

  &__pic {
    height: 100px;
    width: 100px;
    position: absolute;
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid grey;
    margin: 30px 4px;
  }

  &__uploadBtn {
    height: 40px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    background: rgba(0, 0, 0, 0.7);
    color: $bg-color-1;
    line-height: 30px;
    font-size: 10px;
    cursor: pointer;
    display: none;
  }

  &__photo {
    height: 100%;
    width: 100%;
  }

  &__uploadFile {
    display: none;
    margin-top: 115px;
    margin-bottom: -90px;
  }
}

.profile__content {
  display: flex;
  flex-wrap: wrap;
  margin-top: 2rem;
}

.profile__info {
  flex: 1 1 20rem;
}

.profile__orders {
  flex: 3 1 60rem;
  margin-left: 1rem;
}

table {
  width: 100%;
}

th {
  text-align: left;
}

tbody>tr:nth-child(odd) {
  background-color: $bg-color-1;
}

td {
  padding: 0.5rem;
} */

/* @import '../../scss/main.scss'; */
/* * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
height: 100%;
-webkit-overflow-scrolling: touch;
overflow: hidden;
} */
@import "../../scss/main.scss";
.layout-inner {
  /*margin: 0 10vw;
  margin-top: 10vh;
  /* min-height: calc(145vh - 44px);  */ /* 100 
  width: 80%;
  @media screen and (max-width: $breakTablet) {
    margin: 0 5vw;
    width: 80%;
    margin-top: 15vw;
  }

  margin: 0 15vw;
    margin-top: 5vh;
    /* min-height: calc(145vh - 44px); */
  /* @include set-size(80%, 100%); */
  /* @media screen and (max-width: $breakTablet) {
      margin: 0 5vw;
      margin-top: 10vh;
      /* min-height: calc(100vh - 44px); 
      width: 80%;
    } */

  margin: 0 15vw;
  margin-top: 5vh;
  flex: 1 0 auto;

  @media screen and (max-width: 1400px) {
    margin: 5vw 10vw;
  }

  @media screen and (max-width: $breakDesktop) {
    margin: 5vw 10vw;
  }

  @media screen and (max-width: $breakTablet) {
    margin: 0 5vw;
  }

  @media screen and (max-width: $breakMobile) {
    margin: 5vw 0;
  }
}

.g-page-title {
  /* margin: 90px 0 30px; */
  font-size: 3vh;
  @media screen and (max-width: $breakMobile) {
    margin: 5vw 5vw;
  }
  /* margin-bottom: 1vh; */
}

.middle-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 3vh;
  margin-bottom: 4vh;
  @media screen and (max-width: $breakDesktop) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  @media screen and (max-width: $breakTablet) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  @media screen and (max-width: $breakMobile) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    margin: 5vw 5vw;
  }
}

.profile-block {
  /* height: 410px;
  margin-right: 180px;
  margin-left: 20px;
  background: #fff;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 15px 25px #333;
  @media screen and (max-width: $breakTablet) {
    margin-left: 0px;
    margin-right: 0px;
    box-shadow: 0 15px 25px #fff;
  } */
  /* width: 100%; */
  width: 45%;
  height: 100%;
  @media screen and (max-width: $breakDesktop) {
    width: 100%;
    height: 100%;
  }
  @media screen and (max-width: $breakTablet) {
    width: 100%;
    height: 100%;
  }
  @media screen and (max-width: $breakMobile) {
    width: 100%;
    height: 100%;
  }
  &-info {
    width: 70%;
    height: 100%;
    margin-left: 2vw;
    h2 {
      margin: 0 0 30px;
      padding: 0;
      color: #333;
      /* text-align: center; */
      font-size: 3vh;
      @media screen and (max-width: 1400px) {
        font-size: 2vh;
      }
      @media screen and (max-width: $breakDesktop) {
        font-size: 2vh;
      }
      @media screen and (max-width: $breakTablet) {
        font-size: 2vh;
      }
      @media screen and (max-width: $breakMobile) {
        font-size: 1vh;
      }
    }
    @media screen and (max-width: $breakDesktop) {
      width: 100%;
      height: 100%;
      margin-top: 2vh;
      margin-left: 0;
    }
    @media screen and (max-width: $breakTablet) {
      width: 100%;
      height: 100%;
      margin-top: 2vh;
      margin-left: 0;
    }
    @media screen and (max-width: $breakMobile) {
      width: 100%;
      height: 100%;
      margin-top: 2vh;
      margin-left: 0;
    }
  }

  &-settings {
    /* width: 100%; */
    width: 70%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

.profile-menu {
  width: 70%;

  @include shadow-block(#fff);

  display: flex;
  flex-direction: column;

  @media screen and (max-width: $breakDesktop) {
    box-shadow: none;
  }
  @media screen and (max-width: $breakTablet) {
    box-shadow: none;
  }
  @media screen and (max-width: $breakMobile) {
    box-shadow: none;
  }

  &-inner {
    margin: 2vh;
  }
}
/* h1,
h2,
p,
a,
span {
  color: #333;
} */

/* a {
  text-decoration: none;
  font-size: 15px;
} */

.profile-picture {
  margin: 0 auto;
  border: 5px solid #50597b;
  border-radius: 100%;
  height: 150px;
  width: 150px;
  position: sticky;
  border-radius: 50%;
  overflow: hidden;
}

.form__photo {
  height: 100%;
  width: auto;
  margin: 0 auto;
}

.form__photo:hover {
  cursor: pointer;
}

.user-name {
  margin: 50px 0 50px;
  text-align: center;
  font-size: 23px;
}
.profile-description {
  /* width: 210px;
  margin: 0 auto;
  text-align: center; */
  margin-top: 1.5vh;
  margin-left: 1vh;
  width: 100%;
  &-inner {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

/* p {
  font-size: 15px;
} */

.update-btn {
  /* @include blue-button(25.2vh, 4vh);
  @media screen and (max-width: $breakTablet) {
    width: 15vh;
  } */
  /* @include blue-button(20vw, 4vh); */
  @include blue-button(80%, 4vh);
  /* font-size: 0.7vh; */
  /* margin-top: 40px; */
  /*  @media screen and (max-width: $breakTablet) {
    width: 15vh;
  }  */
  margin: 1.2vh 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-decoration: none;
  cursor: pointer;
  font-size: 1.6vh;
  justify-content: center;
  @media screen and (max-width: 1920px) {
    @include blue-button(20vw, 3vh);
    font-size: 1vh;
  }
  @media screen and (max-width: $breakDesktop) {
    @include blue-button(45vw, 4vh);
    font-size: 1.4vh;
  }
  @media screen and (max-width: $breakTablet) {
    @include blue-button(45vw, 2vh);
    font-size: 1.1vh;
  }
  @media screen and (max-width: $breakMobile) {
    @include blue-button(60vw, 3vh);
    font-size: 1.1vh;
  }
}

.logout-btn {
  @include blue-button(80%, 4vh);
  /* font-size: 0.7vh; */
  /* margin-top: 40px; */
  /*  @media screen and (max-width: $breakTablet) {
    width: 15vh;
  }  */
  margin: 1.2vh 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-decoration: none;
  cursor: pointer;
  font-size: 1.6vh;
  justify-content: center;
  @media screen and (max-width: 1920px) {
    @include blue-button(15vw, 3vh);
    font-size: 1vh;
  }
  @media screen and (max-width: $breakDesktop) {
    @include blue-button(45vw, 4vh);
    font-size: 1.4vh;
  }
  @media screen and (max-width: $breakTablet) {
    @include blue-button(45vw, 2vh);
    font-size: 1.1vh;
  }
  @media screen and (max-width: $breakMobile) {
    @include blue-button(52vw, 4vh);
    font-size: 1.1vh;
  }
}

.form__uploadFile {
  display: none;
}

.form__uploadBtn {
  height: 40px;
  width: 100%;
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
  line-height: 30px;
  font-size: 10px;
  cursor: pointer;
  display: none;
  pointer-events: none;
}

.auth-box-form-profile {
  /* margin-bottom: 20px;
  width: 400px; */
  border: 0;
  border-radius: 1vh;
  @include shadow-block(#fff);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 1vh 2.5vh;
  height: 100%;

  @media screen and (max-width: $breakDesktop) {
    box-shadow: none;
  }
  @media screen and (max-width: $breakTablet) {
    box-shadow: none;
  }
  @media screen and (max-width: $breakMobile) {
    box-shadow: none;
  }
}
.user-box {
  position: relative;
  input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #333;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #333;
    outline: none;
    background: transparent;
  }
  label {
    position: absolute;
    top: -20px;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #333;
    pointer-events: none;
    transition: 0.5s; /*  */
    &:hover {
      cursor: pointer;
    }
  }
}

/* .user-box input:focus ~ label {
  top: -30px;
  left: 0;
  color: #1da1f2;
  font-size: 12px;
}
 */

.my_account_orders {
  font-size: 16px;
  border-collapse: collapse;
  border-spacing: 0;
  /* max-width: 600px;
  width: 100%; */
  width: 20vw;
  @media screen and (max-width: $breakTablet) {
    margin: 5vw 5vw;
  }
  @media screen and (max-width: $breakMobile) {
    margin: 5vw 15vw;
  }
  /* margin: 42px 20px; */
  th {
    text-align: left;
  }
}

tr {
  border-bottom: 1px solid #ccc;
}

th,
td {
  padding: 6px;
}
