@import "../../styles/main.scss";

.wrapper {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  min-height: 100vh;
  padding-top: env(safe-area-inset-top);
}

#layout {
  flex: 1 0 auto;
}

.layout {
  @include set-size(100%, 100%);
  flex: 1 0 auto;

  &__main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1 0 auto;
    /* @media screen and (max-width: $breakDesktop) {
      max-width: 1024px;
    }
  
    @media screen and (max-width: $breakTablet) {
      max-width: 768px;
    }
  
    @media screen and (max-width: $breakMobile) {
      max-width: 320px;
    } */
  }

  &-inner {
    margin: 0 15vw;
    margin-top: 5vh;
    flex: 1 0 auto;
    /* min-height: calc(145vh - 44px); */
    /* @include set-size(80%, 100%); */
    /* @media screen and (max-width: $breakTablet) {
      margin: 0 5vw;
      margin-top: 10vh;
      /* min-height: calc(100vh - 44px); 
      width: 80%;
    } */
    @media screen and (max-width: 1400px) {
      margin: 5vw 10vw;
    }

    @media screen and (max-width: $breakDesktop) {
      margin: 5vw 10vw;
    }

    @media screen and (max-width: $breakTablet) {
      margin: 0 5vw;
    }

    @media screen and (max-width: $breakMobile) {
      margin: 5vw 0;
    }

    &-homepage {
      margin: 0 15vw;
      @media screen and (max-width: 1400px) {
        margin: 0vw 10vw;
      }
  
      @media screen and (min-width: $breakDesktop) {
        margin: 0vw 10vw;
      }
  
      @media screen and (max-width: $breakTablet) {
        margin: 0 5vw;
      }
  
      @media screen and (max-width: $breakMobile) {
        margin: 0;
      }
    }
  }
}

/* Intro */

.intro {
  width: 100%;
  height: 100vh;
  background: -webkit-linear-gradient(
    45deg,
    rgb(229, 229, 229) 11%,
    rgb(245, 245, 245) 36%
  );
  -webkit-background-size: cover;
  background-size: cover;
}

/* Header */

.header {
  padding: 25px 0 25px;
  /* position: relative; */
  flex: 0 0 auto;
  -webkit-box-flex: 0;
  background-color: #333;
  &__container {
    max-width: 1504px;
    padding: 0 32px;
    margin: 0 auto;
  }
  &-dropdown {
    float: right;
    position: relative;
    display: none;

    &-content {
      width: 20vh;
      margin-top: 45px;
      border: 0;
      border-radius: 1vh;
      border: 1px solid;
      border-radius: 3px;
      right: 0;
      position: absolute;
      z-index: 1;
      background: linear-gradient(to right, $twitter-color 25%, #fff 20%);
      border-radius: 10px;
      position: absolute;
      border-color: #d0d0d0;

      &-inner {
        margin: 2vh;
      }

      &_hidden {
        display: none;
      }

      &-item {
        margin: 1.3vh 0;
        padding: 0;

        display: flex;
        align-items: center;
        border: none;
        background: none;

        @include menu-link;

        &:focus {
          outline: none;
        }
      }
      &__logo {
        @include set-size(2vh, 2vh);

        margin-right: 2vh;
      }
    }
  }
}

.header__inner {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}

.header-left {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}

.header__logo {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  transition: color 0.2s linear;
}

.header__logo:hover {
  color: #1da1f2;
}

/* .header__logo span {
  color: #1da1f2;
}

.header__logo-img {
  margin-right: -10px;
} */

.header__aside {
  /* border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 8px;
  padding: 16px 9px; */
  border: none;
  background: 0 0;
  height: 42px;
  /* margin-right: 20px; */
}

.header__aside .burger-line {
  width: 30px;
  height: 3px;
  position: relative;
  display: block;
  background: #fff;
  border-radius: 10px;
}

.header__aside .burger-line::after,
.header__aside .burger-line::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  display: block;
  background: #fff;
  border-radius: 4px;
}

.header__aside .burger-line::before {
  top: -10px;
}

.header__aside .burger-line::after {
  bottom: -10px;
}

.burger-close {
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 8px;
  padding: 16px 9px;
  background: 0 0;
  /* margin-right: 20px; */
  display: none;
}

.burger-close .burger-line {
  width: 22px;
  height: 3px;
  position: relative;
  display: block;
  background: #fff;
  border-radius: 10px;
}

.burger-close .burger-line::after,
.burger-close .burger-line::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  display: block;
  background: #fff;
  border-radius: 4px;
}

.burger-close .burger-line::before {
  top: -10px;
}

.burger-close .burger-line::after {
  bottom: -10px;
}

/* Nav */

.nav-element__search {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 40px;
  height: 40px;
  margin: -2px 0;
  background-image: url(data:image/svg+xml,%3Csvg%20width%3D%2248%22%20height%3D%2224%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M38.7%2013.5l-.2.3a6%206%200%2010-.6.6l-.6.4%204.7%204.5a1%201%200%20001.3-1.3l-4.6-4.5zM34%2014a4.1%204.1%200%20110-8.3%204.1%204.1%200%20010%208.3z%22%20fill%3D%22%23B6B6B6%22%2F%3E%3Cpath%20d%3D%22M14.7%2013.5l-.2.3a6%206%200%2010-.6.6l-.6.4%204.7%204.5a1%201%200%20001.3-1.3l-4.6-4.5zM10%2014a4.1%204.1%200%20110-8.3%204.1%204.1%200%20010%208.3z%22%20fill%3D%22%23fff%22%2F%3E%3C%2Fsvg%3E);
  background-position: 6px 50%;
  background-repeat: no-repeat;
  background-size: 63px auto;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.header__nav-icons {
  display: flex;
}
.nav {
  font-size: 16px;
  text-transform: uppercase;
  display: flex;
}

.nav__link {
  display: inline-block;
  vertical-align: top;
  margin: 0 30px;
  position: relative;

  color: #fff;
  text-decoration: none;
}

.search-item {
  display: inline-block;
  vertical-align: top;
}

.icons {
  display: flex;
  order: 1;
}

.icons__link {
  position: relative;
}

.icons__link-avatar,
.icons__link-like,
.icons__link-cart {
  font-size: 14px;
  line-height: 20px;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  display: block;
  cursor: pointer;
  transition: color 0.3s ease 0s;
  height: 37px;
}

.j-item {
  margin-left: 36px;
}

.wrap {
  display: none;
}

.wiki-viewer {
  position: relative;
  -webkit-box-flex: 1;
  flex-grow: 1;
  margin: 0 52px 0 20px;
}

.wiki-viewer-header {
  display: flex;
  justify-content: space-between;
}

.wiki-viewer-title,
.random-entry {
  display: inline-block;
  font-size: 2rem;
  margin-bottom: 1rem;
  text-decoration: none;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.random-entry:hover {
  opacity: 1;
}

/* .search-form {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  width: 400%;
} */

.search-input,
.search-submit {
  /* border: 0;
  outline: 0;
  margin: 0;
  padding: 0.4rem 1rem;
  font-family: "Lato", sans-serif;
  color: white;
  font-size: 2rem;
  width: calc(100% - 0.5px); */
  font-size: 18px;
  line-height: 24px;
  transition: background 0.3s ease 0s;
  /* color: rgba(255,255,255,0.5); */
  width: 100%;
  /* padding: 16px 120px 16px 44px; */
  padding: 16px 0px 16px 15px;
  margin: 0;
  border-radius: 56px;
  /* background: rgba(255,255,255,0.2); */
  cursor: pointer;
  border: none;
  outline: none;
  height: 37px;
}

.search-suggests {
  background: -webkit-linear-gradient(
    0deg,
    rgb(229, 229, 229) 45%,
    rgb(245, 245, 245) 73%,
    rgb(255, 255, 255)
  );
  background: -moz-linear-gradient(
    0deg,
    rgb(229, 229, 229) 45%,
    rgb(245, 245, 245) 73%,
    rgb(255, 255, 255)
  );
  background: linear-gradient(
    0deg,
    rgb(229, 229, 229) 45%,
    rgb(245, 245, 245) 73%,
    rgb(255, 255, 255)
  );
  position: absolute;
  left: 0;
  right: 0;
  z-index: 1;
  border-bottom-left-radius: 18px;
  border-bottom-right-radius: 18px;
}

.search-suggest {
  padding: 0.5rem 1rem;
}

ul {
  list-style: none;
}

.footer {
  background-color: #333;
  /* position: absolute;
  left: 0;
  right: 0;
  bottom: 0; */
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  position: relative;
  /* position: absolute; */
  margin: 32px 0 0;
  left: 0;
  right: 0;
  bottom: 0;

  &-inner {
    margin: 0 10vw;
  }

  &-corp {
    &-inner {
      display: flex;
      flex-direction: row;

      justify-content: center;
      align-items: center;
      color: #fff;

      margin: 1vh 2vh;

      font-size: 1.5vh;

      @media screen and (max-width: $breakTablet) {
        justify-content: flex-start;
        margin: 1vh 0;
      }
    }
  }
}

.search-catalog {
  position: relative;
}

/* @media screen and (max-width: $breakTablet) {
  .nav,
  .icons,
  .header__logo {
    display: none;
  }
} */

.popup-search {
  font-size: 16px;
  line-height: 22px;
  color: #8b8b8b;
  display: none;
  width: 100%;
  max-width: 100%;
  min-width: 320px;
  padding: 12px 16px 16px;
  position: fixed;
  z-index: 1001;
  background: #fff;
  border-radius: 8px 8px 0 0;
  /* -webkit-box-shadow: 0 0 20px rgba(90 3 90); */
  box-shadow: 0 0 20px rgba(90, 3, 90, 5);
  height: 100%;
  border-radius: 0;
  z-index: 301;
  opacity: 1;
  top: 0px;
  left: 0px;
}

.shown {
  display: block;
}

.popup__content {
  padding: 0;
  height: 100%;
}

.popup-search__header {
  display: -webkit-box;
  display: flex;
  width: 100%;
}

.popup-search__input {
  position: relative;
  -webkit-box-flex: 1;
  flex-grow: 1;
}

.popup-search__input input {
  font-size: 16px;
  line-height: 22px;
  color: #000;
  width: 100%;
  height: 40px;
  background-color: #f2f2f2;
  padding: 0 35px 0 16px;
  border-radius: 24px;
  border: none;
  outline: none;
}

.popup-search__cancel {
  font-size: 14px;
  line-height: 20px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  margin-left: 12px;
  color: $twitter-color;
  font-weight: 600;
  background-color: transparent;
  border: none;
}

.popup-search__hints {
  overflow-y: scroll;
  padding-right: 6px;
  margin: 4px -10px 0 0;
  max-height: calc(100% - 48px);
}

@media (max-width: $breakDesktop) {
  .popup-search {
    top: auto !important;
    left: 0 !important;
    bottom: 0;
    max-height: 100%;
  }
}

@media screen and (min-width: $breakDesktop) {
  .desktop-hide {
    display: none;
  }
}

@media screen and (max-width: $breakDesktop) {
  .header {
    padding: 10px 0 10px;
    /* z-index: 1; */
    z-index: 100;
    margin-top: -1px;
  }
  .header__container {
    padding: 0 16px;
  }
  .header__inner {
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    justify-content: space-between;
  }
  .header-left {
    width: 100%;
    -webkit-box-pack: justify;
    justify-content: space-between;
  }
  .header__aside {
    border: none;
  }
  .header__aside .burger-line {
    width: 24px;
    height: 3px;
  }
  .header__aside .burger-line::before {
    top: -8px;
  }
  .header__aside .burger-line::after {
    bottom: -8px;
    width: 75%;
  }
  .header__logo {
    width: 127px;
    height: 37px;
  }
  .nav {
    display: none;
  }
  .icons {
    display: none;
  }
  .wiki-viewer {
    display: none;
  }
  /* .header__nav-icons {
    margin: 0 -8px 0 -46px;
  } */
  .wrap {
    display: block;
  }

  .burger-close {
    border: none;
  }
  .burger-close .burger-line::after {
    bottom: 0;
    width: 100%;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  .burger-close .burger-line::before {
    top: 0;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .burger-close .burger-line {
    background: 0 0;
    height: 4px;
    width: 28px;
    position: relative;
    border-radius: 4px;
  }

  .desktop-hide {
    display: block;
  }

  .navbar-mobile {
    padding: 0 16px;
  }

  .navbar-mobile__link {
    padding: 12px 0;
  }

  .navbar-mobile__icon {
    height: 28px;
  }

  .navbar-mobile__icon--home {
    width: 30px;
    background-size: 58px;
  }

  .navbar-mobile__icon--catalog {
    width: 30px;
    background-size: 64px;
  }
  .navbar-mobile__icon--basket {
    width: 30px;
    background-size: 67px;
  }
  .navbar-mobile__icon--favorites {
    width: 30px;
    background-size: 55px;
  }

  .navbar-mobile__icon--profile {
    width: 30px;
    background-size: 60px;
  }
}
