<br>
<span>new comment container</span>

<br>
<label for="new-comment-rating">Ваша оценка</label>
<input type="number" name="new-comment-rating" id="new-comment-rating" min="0" , max="5" , step="1">

<br>
<input type="text" name="add-comment-text" id="add-comment-text">

<br>
<button class="add-comment-btn">добавить</button>