<div class="form">
  <form class="form__container">
    <ul class="form__container-items">
      <li>
        <h1>Вход</h1>
      </li>
      <li>
        <label for="login">Имя пользователя</label>
        <input class="form__login" type="login" name="login"/>
      </li>
      <li>
        <label for="password">Пароль</label>
        <input class="form__password" type="password" name="password" />
      </li>
      <li>
        <label class="form__error">error</label>
      </li>
      <li>
        <a class="form__link-signin" href="/login">
          <button class="form__btn-color" type="submit">
            Войти
          </button>
        </a>
      </li>
      <li>
        <div>
          Новый пользователь?
          <a href="/signup" class="form__link-signup">Создать аккаунт </a>
        </div>
      </li>
    </ul>
  </form>
</div>