<div class="form-container">
  <form id="signin-form">
    <ul class="form-items">
      <li>
        <h1>Вход</h1>
      </li>
      <li>
        <label for="login">Имя пользователя</label>
        <input type="login" name="login" id="login" />
      </li>
      <li>
        <label for="password">Пароль</label>
        <input type="password" name="password" id="password" />
      </li>
      <li>
        <label id="alert-label">error</label>
      </li>
      <li>
        <button type="submit" class="primary">Войти</button>
      </li>
      <li>
        <div>
          Новый пользователь?
          <a href="#" id="register-href">Создать аккаунт </a>
        </div>
      </li>
    </ul>
  </form>
</div>