@import '../../scss/main.scss';

.container {
    position: relative;
    max-width: 1280px;
    margin: 0 auto;
}

.g-page-title {
    margin: 90px 0 30px;
}

.personal-cab-nav {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    border-bottom: solid 1px #eee;
    padding-bottom: 30px;
    list-style-type: none;
    margin-right: 40px;
}

.personal-cab-nav li a {
    display: block;
    padding: 5px 10px;
    text-transform: uppercase;
    font-size: 16px;
}

.nav>li>a {
    display: block;
    padding: 10px 15px;
}

.orders__table {
    font-size: 1vw;
    font-family: Open Sans, sans-serif;
}

.orders__table_header {
    margin-bottom: 35px;
}

.orders__table_row:last-child {
    margin-bottom: 0;
}

.orders__table_row {
    display: flex;
}

.orders__table_cell.orders__table_cell--info {
    -webkit-box-flex: 1;
    flex: 1;
    width: auto;
    padding-right: 20px;
}

.orders__table_label {
    color: #909090;
    font-size: 15px;
}

.orders__table_cell.orders__table_cell--cost {
    -webkit-box-flex: 0;
    flex: 0 0 100px;
    text-align: right;
    width: 100px;
}

.orders__table_group:last-child {
    margin-bottom: 0;
}

.orders__table_row {
    display: flex;
    margin-bottom: 15px;
}

.orders__order_info {
    -webkit-box-align: center;
    align-items: center;
    display: flex;
}

.orders__order_number {
    border-bottom: 1px solid #6f6f6f;
    color: #000;
    font-family: "clear_sansbold", Arial, sans-serif;
    white-space: nowrap;
}

.orders__order_date {
    -webkit-box-align: center;
    align-items: center;
    color: #909090;;
    display: flex;
    font-size: 15px;
    margin-left: 15px;
}

.orders__order_date .icon-calendar {
    width: 16px;
    height: 16px;
    flex-shrink: 0;
}

.orders__order_date>* {
    margin-right: 10px;
}

.orders__order_date>*:last-child {
    margin-right: 0;
}

.orders__order_cost-total {
    font-family: "clear_sansbold", Arial, sans-serif;
}

.currency {
    font-family: clear_sans_ext, Arial, sans-serif;
    display: inline !important;
}

.orders__table_row:last-child {
    margin-bottom: 0;
}

.orders__table_row {
    display: flex;
}

.orders__order_position {
    padding-left: 30px;
    position: relative;
}

.orders__order_position-link {
    color: #000;
    margin-right: 8px;
    text-decoration: underline;
}

.orders__order_position-count {
    color: #909090;
}

.orders__table_cell.orders__table_cell--cost {
    -webkit-box-flex: 0;
    flex: 0 0 100px;
    padding-right: 20px;
    text-align: right;
    width: 100px;
}