<div class="layout-inner">

  <div class="container personal-cab">
    <h1 class="g-page-title">Профиль</h1>
    <ul id="w0" class="personal-cab-nav nav">
      <li class="active"><a class="personal-cab-list__link profile-link" href="/user/settings/profile">Контактная
          информация</a></li>
      <li><a class="personal-cab-list__link orders-link" href="/user/orders/index">Заказы</a></li>
    </ul>
  </div>

  <div class="orders">
    <div class="orders__table">
      <div class="orders__table_header">
        <div class="orders__table_row">
          <div class="orders__table_cell orders__table_cell--info"><span class="orders__table_label">Заказ</span></div>
          <div class="orders__table_cell orders__table_cell--cost"><span class="orders__table_label">Стоимость</span>
          </div>
          <div class="orders__table_cell orders__table_cell--cost"><span class="orders__table_label">Статус</span>

          </div>
        </div>
      </div>
      <div class="orders__table_body">

        {{!-- <div class="orders__table_group">
          <div class="orders__table_row orders__table_row--top">
            <div class="orders__table_cell orders__table_cell--info">
              <div class="orders__order_info">
                <a class="orders__order_number" href="/user/orders/view?id=4337896">№ 4337896</a>
                <div class="orders__order_date">
                  <svg class="svg-sprite-icon icon-calendar">
                    <use xlink:href="#calendar"></use>
                  </svg>
                  <span>13 ноября 2021</span>
                </div>
              </div>
            </div>
            <div class="orders__table_cell orders__table_cell--cost">
              <span class="orders__order_cost-total">446
                <span class="currency">₽</span></span>
            </div>
          </div>

          <div class="orders__table_row">
            <div class="orders__table_cell orders__table_cell--info">
              <div class="orders__order_position">
                <a class="orders__order_position-link"
                  href="/products/81240007-lopatka-derevyannaya-bolshaya-28-5-4-5-0-4-sm-p-l-proff-cuisine"></a>
                <span class="orders__order_position-count">1 шт</span>
              </div>
            </div>
            <div class="orders__table_cell orders__table_cell--cost">
              <span class="orders__order_cost">56
                <span class="currency">₽</span></span>
            </div>
          </div>
        </div> --}}

      </div>
    </div>
  </div>
</div>