@import "../../scss/main.scss";

.aside-container {
  /* position: fixed;
  width: 30rem;
  background-color: $bg-color-1;
  height: 100%;
  z-index: 1;
  transform: translateX(-30.1rem);
  transition: all 0.5s;
  border-right: 0.1rem $dirty-gray-color solid;
  padding: 40px; */
  /* padding: 40px;
  padding-left: 10px; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  /* width: calc(100% - 52px); */
  max-width: 1223px;
  height: 100%;
  /* position: fixed; */
  top: 0;
  left: -105%;
  z-index: 99;
  position: fixed;
  /* transform: translateX(-30.1rem);
  transition: all 0.5s; */

  &.open {
    /* transform: translateX(0); */
    left: 0;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4rem 0.5rem 1rem 0rem;
    color: $dirty-gray-color;
    font-size: 1vw;
  }

  &__main {
    overflow-y: scroll;
    width: 308px;
    height: 100%;
    flex-shrink: 0;
    background: #fff;
    padding: 20px 0 20px 15px;
    overflow: auto;
  }

  &__body {
    font-size: 1vw;
  }
}

.aside-header {
  /* z-index: 20; */
  position: fixed;
  right: 0;
  left: 0;
  /* -webkit-transition: top 0.3s ease 0s; */
  /* transition: top 0.3s ease 0s; */
}

.categories {
  padding: 0;

  & > li {
    list-style-type: none;
  }

  &__link {
    display: flex;
    padding: 1rem;
    padding-left: 2rem;
    justify-content: space-between;
  }

  &__span-fa {
    font-size: 1.4rem;
    color: $dirty-gray-color;
    cursor: pointer;
  }

  .fa {
    font-size: medium;
    position: absolute;
    right: 25px;
    transform: rotate(90deg);
    color: gray;
    /* padding-top: 30px; */
    /* transition: all 1s linear; */
  }
}

.body-overflow {
  overflow: hidden;
}

.overlay {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #000;
  opacity: 0.3 !important;
  position: fixed;
  z-index: 20;
  display: none;
}

.menu-burger__close {
  width: 34px;
  height: 34px;
  display: inline-block;
  font-size: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  line-height: 1;
  position: absolute;
  top: 9px;
  left: calc(308px + 9px);
}

.menu-burger__close:before {
  width: 4px;
  height: 28px;
}

.menu-burger__close:after {
  width: 28px;
  height: 4px;
}

.menu-burger__close:after,
.menu-burger__close:before {
  -webkit-transition: background 0.3s ease 0s;
  transition: background 0.3s ease 0s;
  background-color: #fff;
  border-radius: 4px;
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
  transform: translate(-50%, -50%) rotate(45deg);
}

@media screen and (max-width: $breakDesktop) {
  .aside-container {
    width: 100%;
  }
  .aside-container__main {
    width: 100%;
    padding: 72px 0 52px;
  }
}
