{{! <div class="aside-container__header">
    <div>Категории</div>
  </div> }}

<div class="aside-container__main">
  <ul class="categories">
  </ul>
</div>
<button class="menu-burger__close"></button>