{{!-- <div class="info-card-btn"> --}}
  <button class="info-card-btn__add-cart">Перейти в корзину</button>
  {{!-- <span>
    +
  </span>
  <span>
    ?
  </span>
  <span>
    -
  </span> --}}
  {{!--
</div> --}}