<div class="cart">
  <h1>
    <br>
    <br>
    Корзина пуста <br>
    Воспользуйтесь каталогом товаров, чтобы найти все, что нужно. <br>
    <div class="unauthorize-content">
      Если в корзине были товары -
      <a class="empty-cart-link" href="/signin">войдите</a>,
      чтобы посмотреть список
    </div>
  </h1>
</div>