{{! <div class="cart">
  <h1>
    <br>
    <br>
    Корзина пуста <br>
    Воспользуйтесь каталогом товаров, чтобы найти все, что нужно. <br>
    <div class="unauthorize-content">
      Если в корзине были товары -
      <a class="empty-cart-link" href="/signin">войдите</a>,
      чтобы посмотреть список
    </div>
  </h1>
</div> }}
<div class="layout-inner">
  <div class="container">
    <span class="g-page-title">Корзина</span>
    <p><div class="basket-empty-text">Ваша корзина пуста.
        <a class="basket-empty-text__link" href="/homepage">Вернуться к покупкам</a>
      </div></p>
  </div>
</div>