<div class="sc-eWVKcp gWVnqI product-card" href="/product?id={{id}}">
  <div>
    <span class="sc-dmqUwf sc-heejBg elZscS cXzms">
      <span class="sc-dmqUwf sc-jVcrfF elZscS uHVPE"><a
          title="Саймон из приюта очень ждет своего человека"
          target="_blank"
          rel="noopener noreferrer"
          class="sc-fvhGYg kiHSSs"
          href="/moskva/zhivotnye/sobaki/saimon-mietis-ovcharki-s-zolotym-kharaktierom-60069d4bc5122753f349db88"
          style="cursor: pointer"
        ><figure
            data-test-component="ProductCard"
            data-test-id="60069d4bc5122753f349db88"
            class="sc-cSOiNf hqbBwg"
          >
            <div class="sc-joetPs sc-fcOtbr fSqMRW ejAnCG">
              <div class="sc-nTsCk hANHaT">
                <image
                  preserveAspectRatio="xMidYMid slice"
                  src="{{image}}"
                  width="100%"
                  height="100%"
                  alt="product img"
                />
              </div>
              <div data-test-component="Badges" class="sc-PGRUV iBdLAW">
                <div class="sc-gdHaLZ hGnUvJ">
                  <div class="sc-ha-dWhQ kgKATk">
                    <span
                      class="sc-bdfBwQ sc-hzrdii gOrdpE cMmKVa"
                    >Москва</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="sc-iiSMjD faTnJd">
              <div class="sc-LUELm dyeUTf">
                <div class="sc-dTGQxN cZDNVI">
                  <p
                    data-test-block="ProductPrice"
                    class="sc-bdfBwQ sc-gVKWmJ cLXOZo ivAKBi"
                  >
                    <span
                      data-test-component="Price"
                      class="sc-fweGeb kUzkwc sc-cVUOZy OccwX free"
                    >{{price}} ₽</span>
                  </p>
                </div>
              </div>
              <figcaption
                class="sc-bdfBwQ sc-bQbiG sc-HUrrW hhRMNj kdENcv oRWom"
              >
                <span
                  data-test-block="ProductName"
                  color="primary"
                  class="sc-bdfBwQ sc-kOiyno degejw chWUIt"
                >{{name}}</span>
              </figcaption>
            </div>
          </figure></a>
      </span></span>
  </div>
</div>