<div class="layout-inner">
    <div class="product-table" id="product-tabletrends">
        <div class="product-table-inner">
            <span class="product-table__title">Бренды</span>

            <div class="product-table-body" id="product-table-bodytrends">
            </div>
        </div>
    </div>
</div>