@import "../../../styles/main.scss";
.comments-title {
  margin-bottom: 2vh;
  span {
    font-size: 2vh;
    margin-top: 2vh;
  }
}

.commentform {
  display: flex;
  flex-direction: column;
}

/* .new-comment-container {
  width: 640px;
}
 */
.new-comment-rating {
  width: 50px;
  height: 20px;
  background-color: #fff;
  border: 1px solid #d1d1d1;
  line-height: 30px;
  padding: 0;
  text-align: center;
}
.add-comment-text {
  height: 3vh;
  font-size: 2vh;
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Helvetica, Arial, sans-serif;
  border: 1px solid $twitter-color;
  box-sizing: border-box;
  /* border-radius: 0.5vh; */
  padding-left: 10px;
  outline: none;
  line-height: 30px;
  width: 10%;
}

.new-comment-rating1 {
  font-size: 2vh;
  margin-right: 44px;
}

.new-comment-rating2 {
  font-size: 2vh;
  margin-right: 10px;
}

.add-comment-btn {
  @include blue-button(18vh, 4vh);
  height: 3vh;
  width: 12vh;
  font-size: 1vh;
  margin-top: 5px;
  @media screen and (max-width: $breakDesktop) {
    height: 3vh;
    width: 11vh;
    font-size: 1vh;
  }
  @media screen and (max-width: $breakTablet) {
    height: 2vh;
    width: 11vh;
  }
  @media screen and (max-width: $breakMobile) {
    height: 3vh;
    width: 11vh;
  }
}

.field {
  position: relative;
  margin-bottom: 10px;
  input,
  textarea {
    height: 2.5vh;
    width: 100%;
    display: block;
    outline: none;
    padding: 5px;
    font-size: 1.7vh;
    &:focus {
      border: 2px solid $twitter-color;
    }
    &:focus + label {
      display: block;
    }
  }
  textarea {
    max-height: 250px;
    height: 133px;
    margin: 0px 7px 0px 0px;
    border: 0px;
    width: 100%;
    resize: none;
  }
  label {
    width: 100%;
    background-color: $twitter-color;
    display: block;
    color: #fff;
    padding: 3px;
    font-size: 12px;
    font-weight: 300;
    display: none;
  }
}

.small {
  width: 15vw;
  float: left;
  margin-left: 2%;
  &:first-child {
    margin-left: 0%;
  }
}
.large {
  float: left;
  width: 50vw;
  border: 1px solid #d1d1d1;
}

.f9z8 {
  margin-bottom: 48px;
}

.ga0 {
  width: 576px;
}
.f9y9 {
  color: #001a34;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.25;
  margin-bottom: 16px;
}

.f9z {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.ga0 {
  width: 576px;
}

.ui-p2,
.ui-p3 {
  display: block;
}

.ui-ac {
  display: flex;
  justify-content: flex-start;
  position: relative;
}

.ui-ac.ui-b9a.ui-ac1 > :first-child {
  margin-left: -4px;
}
.ui-b8a.ui-b9a {
  width: 220px;
}

.ui-b8a {
  overflow: hidden;
  position: relative;
}

.ui-b1 {
  display: inline-flex;
}

.ui-b1 > .ui-b3 {
  -webkit-touch-callout: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  border: none;
  color: inherit;
  cursor: pointer;
  display: block;
  font-size: inherit;
  font-weight: inherit;
  line-height: 0;
  margin: 0;
  padding: 0;
  position: relative;
  text-decoration: none;
  white-space: normal;
}

.ui-b1 > .ui-b3 > .ui-b4.ui-e4 {
  min-width: 0;
  padding: 4px;
}
.ui-b1 > .ui-b3 > .ui-b4.ui-d7,
.ui-b1 > .ui-b3 > .ui-b4.ui-d7.ui-c8 {
  background: hsla(0, 0%, 100%, 0);
}
.ui-b1 > .ui-b3 > .ui-b4.ui-d7 {
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
  min-height: auto;
  min-width: auto !important;
  padding: 0 !important;
  width: auto;
}
.ui-b1 > .ui-b3 > .ui-b4 {
  align-items: center;
  background-color: #005bff;
  border-radius: 6px;
  box-sizing: border-box;
  color: #fff;
  display: inline-flex;
  font-family: GTEestiPro, arial, sans-serif;
  font-size: 14px;
  font-weight: 700;
  justify-content: center;
  line-height: 1.29;
  min-height: 32px;
  min-width: 96px;
  padding: 0 12px;
  text-align: center;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    opacity 0.3s ease-in-out;
}

.ui-ac.ui-b9a .ui-c0a {
  margin: 0 2px;
  color: rgb(179, 188, 197);
  &:hover {
    color: gold;
  }
}
