@import "../../../styles/main.scss";
.comments-title {
  margin-bottom: 2vh;
  span {
    font-size: 2vh;
    margin-top: 2vh;
  }
}

.commentform {
  display: flex;
  flex-direction: column;
}

/* .new-comment-container {
  width: 640px;
}
 */
.new-comment-rating {
  width: 50px;
  height: 20px;
  background-color: #fff;
  border: 1px solid #d1d1d1;
  line-height: 30px;
  padding: 0;
  text-align: center;
}
.add-comment-text {
  height: 3vh;
  font-size: 2vh;
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Helvetica, Arial, sans-serif;
  border: 1px solid $twitter-color;
  box-sizing: border-box;
  /* border-radius: 0.5vh; */
  padding-left: 10px;
  outline: none;
  line-height: 30px;
  width: 10%;
}

.new-comment-rating1 {
  font-size: 2vh;
  margin-right: 44px;
}

.new-comment-rating2 {
  font-size: 2vh;
  margin-right: 10px;
}

.add-comment-btn {
  @include blue-button(18vh, 4vh);
  height: 3vh;
  width: 12vh;
  font-size: 1vh;
  margin-top: 5px;
  @media screen and (max-width: $breakDesktop) {
    height: 3vh;
    width: 11vh;
    font-size: 1vh;
  }
  @media screen and (max-width: $breakTablet) {
    height: 2vh;
    width: 11vh;
  }
  @media screen and (max-width: $breakMobile) {
    height: 3vh;
    width: 11vh;
  }
}

.field {
  position: relative;
  margin-bottom: 10px;
  input,
  textarea {
    height: 2.5vh;
    width: 100%;
    display: block;
    outline: none;
    padding: 5px;
    font-size: 1.7vh;
    &:focus {
      border: 2px solid $twitter-color;
    }
    &:focus + label {
      display: block;
    }
  }
  textarea {
    max-height: 250px;
    height: 133px;
    margin: 0px 7px 0px 0px;
    border: 0px;
    width: 100%;
    resize: none;
  }
  label {
    width: 100%;
    background-color: $twitter-color;
    display: block;
    color: #fff;
    padding: 3px;
    font-size: 12px;
    font-weight: 300;
    display: none;
  }
}

.small {
  width: 15vw;
  float: left;
  margin-left: 2%;
  &:first-child {
    margin-left: 0%;
  }
}
.large {
  float: left;
  width: 100%;
  border: 1px solid #d1d1d1;
}

.f9z8 {
  margin-bottom: 48px;
}

.ga0 {
  width: 576px;
}
.f9y9 {
  color: #001a34;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.25;
  margin-bottom: 16px;
  display: inline;
}

.rating__estimate {
  color: #5a6c7d;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.29;
  display: inline;
}

.rating {
  display: flex;
  align-items: flex-end;
  font-size: 40px;
  line-height: 1;
  margin-top: 16px;
}

.rating__body {
  position: relative;
  color: rgb(179, 188, 197);
}

.rating__body::before {
  content: "★★★★★";
  display: block;
}

.rating__active {
  position: absolute;
  width: 0%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}

.rating__active::before {
  content: "★★★★★";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  color: gold;
}

.rating__items {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.rating__item {
  flex: 0 1 20%;
  height: 100%;
  opacity: 0;
}

.rating__value {
  font-size: 50%;
  line-height: 1;
  padding: 0px 0px 0px 10px;
}
