{{!-- <div class="comments-title">
  <span>Написать отзыв</span>
</div> --}}
<div class="commentform">
  {{! <div class="field small">
    <input
      type="number"
      name="new-comment-rating"
      id="new-comment-rating"
      min="0",
      max="5",
      step="1"
      value="5"
      class="new-comment-rating"
    />
    <label for="new-comment-rating" class="new-comment-rating1">Оцените покупку</label>
  </div> }}
  <div data-form-field="rating" class="f9z8"><div class="f9y9 ga0">
      Оцените покупку
      <!----></div>
    <div class="f9z"><div class="ga0"><div class="ga3"><div class="ui-p2"><label
              class="ui-p3"
            ><!---->
              <div class="ui-ac ui-b9a ui-ac1"><div
                  class="ui-b8a ui-b9a"
                ><!---->
                  <div class="ui-ca1 ui-b1"><button
                      tabindex="0"
                      type="button"
                      class="ui-b3"
                    ><span
                        class="ui-b4 ui-d7 ui-e4"
                        style="border-radius: 6px;"
                      ><svg
                          width="40"
                          height="40"
                          fill="none"
                          xmlns="http://www.w3.org/2000/svg"
                          class="ui-c0a"
                        ><path
                            d="M20.012 4.5a.465.465 0 00-.433.27l-4.598 9.79-10.576 1.423a.468.468 0 00-.382.323.48.48 0 00.122.49l7.734 7.474-1.938 10.67c-.032.18.04.362.184.47a.46.46 0 00.497.033L20 30.27l9.378 5.172a.46.46 0 00.496-.033.478.478 0 00.185-.47L28.12 24.27l7.735-7.473a.48.48 0 00.122-.49.468.468 0 00-.382-.324L25.019 14.56 20.42 4.77a.466.466 0 00-.41-.27z"
                            fill="currentColor"
                          ></path></svg></span></button></div><div
                    class="ui-ca1 ui-b1"
                  ><button tabindex="0" type="button" class="ui-b3"><span
                        class="ui-b4 ui-d7 ui-e4"
                        style="border-radius: 6px;"
                      ><svg
                          width="40"
                          height="40"
                          fill="none"
                          xmlns="http://www.w3.org/2000/svg"
                          class="ui-c0a"
                        ><path
                            d="M20.012 4.5a.465.465 0 00-.433.27l-4.598 9.79-10.576 1.423a.468.468 0 00-.382.323.48.48 0 00.122.49l7.734 7.474-1.938 10.67c-.032.18.04.362.184.47a.46.46 0 00.497.033L20 30.27l9.378 5.172a.46.46 0 00.496-.033.478.478 0 00.185-.47L28.12 24.27l7.735-7.473a.48.48 0 00.122-.49.468.468 0 00-.382-.324L25.019 14.56 20.42 4.77a.466.466 0 00-.41-.27z"
                            fill="currentColor"
                          ></path></svg></span></button></div><div
                    class="ui-ca1 ui-b1"
                  ><button tabindex="0" type="button" class="ui-b3"><span
                        class="ui-b4 ui-d7 ui-e4"
                        style="border-radius: 6px;"
                      ><svg
                          width="40"
                          height="40"
                          fill="none"
                          xmlns="http://www.w3.org/2000/svg"
                          class="ui-c0a"
                        ><path
                            d="M20.012 4.5a.465.465 0 00-.433.27l-4.598 9.79-10.576 1.423a.468.468 0 00-.382.323.48.48 0 00.122.49l7.734 7.474-1.938 10.67c-.032.18.04.362.184.47a.46.46 0 00.497.033L20 30.27l9.378 5.172a.46.46 0 00.496-.033.478.478 0 00.185-.47L28.12 24.27l7.735-7.473a.48.48 0 00.122-.49.468.468 0 00-.382-.324L25.019 14.56 20.42 4.77a.466.466 0 00-.41-.27z"
                            fill="currentColor"
                          ></path></svg></span></button></div><div
                    class="ui-ca1 ui-b1"
                  ><button tabindex="0" type="button" class="ui-b3"><span
                        class="ui-b4 ui-d7 ui-e4"
                        style="border-radius: 6px;"
                      ><svg
                          width="40"
                          height="40"
                          fill="none"
                          xmlns="http://www.w3.org/2000/svg"
                          class="ui-c0a"
                        ><path
                            d="M20.012 4.5a.465.465 0 00-.433.27l-4.598 9.79-10.576 1.423a.468.468 0 00-.382.323.48.48 0 00.122.49l7.734 7.474-1.938 10.67c-.032.18.04.362.184.47a.46.46 0 00.497.033L20 30.27l9.378 5.172a.46.46 0 00.496-.033.478.478 0 00.185-.47L28.12 24.27l7.735-7.473a.48.48 0 00.122-.49.468.468 0 00-.382-.324L25.019 14.56 20.42 4.77a.466.466 0 00-.41-.27z"
                            fill="currentColor"
                          ></path></svg></span></button></div><div
                    class="ui-ca1 ui-b1"
                  ><button tabindex="0" type="button" class="ui-b3"><span
                        class="ui-b4 ui-d7 ui-e4"
                        style="border-radius: 6px;"
                      ><svg
                          width="40"
                          height="40"
                          fill="none"
                          xmlns="http://www.w3.org/2000/svg"
                          class="ui-c0a"
                        ><path
                            d="M20.012 4.5a.465.465 0 00-.433.27l-4.598 9.79-10.576 1.423a.468.468 0 00-.382.323.48.48 0 00.122.49l7.734 7.474-1.938 10.67c-.032.18.04.362.184.47a.46.46 0 00.497.033L20 30.27l9.378 5.172a.46.46 0 00.496-.033.478.478 0 00.185-.47L28.12 24.27l7.735-7.473a.48.48 0 00.122-.49.468.468 0 00-.382-.324L25.019 14.56 20.42 4.77a.466.466 0 00-.41-.27z"
                            fill="currentColor"
                          ></path></svg></span></button></div></div>
                <!----></div></label>
            <!----></div></div></div>
      <div class="g0c2"><div class="vue-portal-target"></div></div></div></div>
  <form>
    <div class="field large">
      <textarea
        type="text"
        name="add-comment-text"
        id="add-comment-text"
        class="add-comment-text"
      >
      </textarea>
      <label for="new-comment-rating" class="new-comment-rating2">Комментарий к
        отзыву</label>
    </div>
    <br />
    <button class="add-comment-btn" type="submit">Написать отзыв</button>
  </form>

  <label class="new-comment-alert-label" style="visibility:hidden">ошибка
    добавления комментария</label>
</div>