<br>
<br>
<label for="new-comment-rating" class="new-comment-rating1">Ваша оценка</label>
<input type="number" name="new-comment-rating" id="new-comment-rating" min="0" , max="5" , step="1" value="5"
  class="new-comment-rating">

<form>
  <br>
  <label for="new-comment-rating" class="new-comment-rating2">Ваш комментарий</label>
  <input type="text" name="add-comment-text" id="add-comment-text" class="add-comment-text">

  <br>
  <button class="add-comment-btn" type="submit">добавить</button>
</form>

<br>
<label class="new-comment-alert-label" style="visibility:hidden">ошибка добавления комментария</label>