@import "../../scss/main.scss";

.product-card {
  @include set-size(12vw, 18vw);
  @include product-block;
  margin: 0.5vw;

  @media screen and (max-width: $breakTablet) {
    width: 18vw;
    height: 25vw;
    margin: 1vw;
  }

  &-inner {
    @include set-size(100%, 100%);

    display: flex;
    flex-direction: column;
    align-items: center;
    @media screen and (max-width: $breakTablet) {
      padding: 0px 24px;
    }
  }

  &__img {
    /*   width: 135px; */
    object-fit: cover;
    height: 180px;
    @media screen and (max-width: $breakTablet) {
      height: 124px;
      padding: 8px 20px;
    }
  }

  &__like {
    width: 1.5vw;
    height: 1.5vw;
    position: absolute;
    right: 0.5vw;
  }

  &-info {
    @include set-size(100%, 40%);

    &-inner {
      margin: 1vw;

      display: flex;
      flex-direction: column;

      @media screen and (max-width: $breakMobile) {
        margin: 2vw;
      }
    }

    &__price {
      width: 100%;

      font-size: 2vw;
      @include overflow-text-width;
    }

    &__name {
      width: 100%;
      margin-bottom: 0.2vw;
      margin-top: 1vw;

      font-size: 1.6vw;
      @include overflow-text-height(2.4vw);
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}
