<div class="orders__table_row orders__table_row--top">
  <div class="orders__table_cell orders__table_cell--info">
    <div class="orders__order_info">
      <a class="orders__order_number" href="/user/orders/view?id=4337896">{{order_id}}</a>
      <div class="orders__order_date">
        <svg class="svg-sprite-icon icon-calendar">
          <use xlink:href="#calendar"></use>
        </svg>
        <span>{{date}}</span>
      </div>
    </div>
  </div>
  <div class="orders__table_cell orders__table_cell--cost">
    <span class="orders__order_cost-total">{{cost}}
      <span class="currency">₽</span></span>
  </div>
  <div class="orders__table_cell orders__table_cell--cost">
    <span class="orders__order_cost-total">{{status}}
    </span>
  </div>
</div>

{{!-- <div class="orders__table_row">
  <div class="orders__table_cell orders__table_cell--info">
    <div class="orders__order_position">
      <a class="orders__order_position-link"
        href="/products/81240007-lopatka-derevyannaya-bolshaya-28-5-4-5-0-4-sm-p-l-proff-cuisine">Лопатка
        деревянная большая 28,5*4,5*0,4 см, P.L. Proff Cuisine</a>
      <span class="orders__order_position-count">1 шт</span>
    </div>
  </div>
  <div class="orders__table_cell orders__table_cell--cost">
    <span class="orders__order_cost">56
      <span class="currency">₽</span></span>
  </div>
</div> --}}