<div class="order-item__data">
  <div class="order-item__img img-plug">
    <img width="75" height="100" src="//images.wbstatic.net/c246x328/new/13030000/13030057-1.jpg"
      alt="По следам гроссмейстера. Решебник">
  </div>
  <div class="order-item__desc">
    <h2 class="order-item__name">Издательство Врублевская Ольга Анатольевна, По следам гроссмейстера. Решебник
    </h2>
  </div>
</div>
<div class="order-item__price">{{ price }} ₽</div>