<div class="checkout-steps">
   <div class="active">Оформление заказа</div>
      <div>Оплата</div>
      <div>Доставка</div>
</div>
<div class="form-container">
  <form id="order-form">
    <ul class="form-items">
      <li>
        <h1>Оформление заказа</h1>
      </li>
      <li>
        <label for="address">Адрес</label>
        <input type="text" name="address" id="address" value="{{address}}" />
      </li>
      <li>
        <label for="city">Город</label>
        <input type="text" name="city" id="city" value="{{city}}" />
      </li>
      <li>
        <label for="postalCode">Почтовый индекс</label>
        <input type="text" name="postalCode" id="postalCode" value="{{postalCode}}"/>
      </li>
      <li>
        <label for="country">Страна</label>
        <input type="text" name="country" id="country" value="{{country}}" />
      </li>
      <a href="/update">
        <button type="submit" class="primary fw">Продолжить</button>
      </a>
    </ul>
  </form>
</div>