@import "../../styles/main.scss";

.table-brand {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  padding: 0;
} 

.e4j4 {
  display: flex;
  flex: auto;
  flex-direction: column;
  margin-bottom: 24px;
}