.product-table-brand {
  display: flex;
  flex-wrap: wrap;
  line-height: 0;
  overflow: hidden;
  padding: 0;
}

.e4j4 {
  display: flex;
  flex: auto;
  flex-direction: column;
  margin-bottom: 24px;
}

img {
    width: 360px;
    height: 150px;
}