<div class="layout-inner">
  <div class="product-table" id="product-table{{id}}">
    <div class="product-table-inner">
      <span class="product-table__title">Новинки</span>
      <div class="e4j4">
        <div class="product-table-brand" id="product-table-brand"></div>
      </div>
    </div>
  </div>
</div>