<form class="search">
  <div class="search-box">
    <input
      class="search-input"
      id="input"
      type="search"
      placeholder="Искать на Azot"
    />
    {{! <button class="search-btn" type="submit"><i
        class="fas fa-search"
      ></i></button> }}
    <a class="search-btn" href="#"><i class="fas fa-search"></i></a>
  </div>
  {{! <buttonclass="search-btn" type="submit" >Искать!</button> }}
  <div>
  <div class="f9k0">
    <div class="f9k2"></div>
    <div class="menu">
      <div class="search-container"></div>
    </div>
  </div>
</div> 
</form>