<form>
  <input id="input" type="search" autocomplete="off" spellcheck="false" placeholder="Искать на Azot"
    class="search-input">

  <button type="submit" class="search-btn">поиск</button>
</form>