{{! <form>
  <input id="input" type="search" autocomplete="off" spellcheck="false" placeholder="Искать на Azot"
    class="search-input">

  <button type="submit" class="search-btn">поиск</button>
</form> }}

<form class="search-form">
  <input
    type="search"
    class="search-input"
    placeholder="Искать товары"
  /><!-- <button class="search-submit" data-reactid=".0.1.1">
                  Search
                </button> -->
  <ul class="search-suggests">
{{!--     <li class="search-suggest">
      
    </li> --}}
    {{!-- 
    <li class="search-suggest" data-reactid=".0.1.2.$Diana, Princess of Wales">
      Diana, Princess of Wales
    </li> --}}
  </ul>
</form>