<div class="form-container">
  <form id="profile-form">
    <ul class="form-items">
      <li>
        <h1>Профиль</h1>
        <div class="profile-pic">
          <img src="" class="photo" />
          <label for="file" class="uploadBtn">Загрузить фото</label>
        </div>
        <input type="file" class="uploadFile" />
      </li>
      <li>
        <label for="login">Имя пользователя</label>
        <input type="login" name="login" id="login" value="{{login}}" />
      </li>
      <li>
        <label for="email">Email</label>
        <input type="email" name="email" id="email" value="{{email}}" />
      </li>
      <li>
        <label for="password">Изменить пароль</label>
        <input type="password" name="password" id="password" />
      </li>
      <li>
        <label for="password">Подтвердить новый пароль</label>
        <input type="password" name="confirm-password" id="confirm-password" />
      </li>
      <li>
        <a href="/update">
          <button type="submit" class="update-button primary">Обновить</button>
        </a>
      </li>
      <li>
        <a href="/logout">
          <button type="button" class="signout-button">Выйти из профиля</button>
        </a>
      </li>
    </ul>
  </form>
</div>