@import '../../scss/main.scss';

.cart {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    &-list {
        flex: 3 1 60rem;
      }
      &__action {
        flex: 1 1 20rem;
        background-color: #f0f0f0;
        border-radius: 0.5rem;
        padding: 1rem;
      }
      &-list__container {
        padding: 1rem;
        list-style-type: none;
      }
      
      &-list__container li {
        display: flex;
        justify-content: space-between;
        padding-bottom: 1rem;
        margin-bottom: 1rem;
        border-bottom: 0.1rem #c0c0c0 solid;
      }
  }