<div class="cart">
  <div class="cart-list">
    <ul class="cart-list__container">
      <li>
        <h3>Выбранные товары</h3>
        <div>Цена</div>
      </li>
      <div class="cart-list__items"></div>
    </ul>
  </div>
  <div class="cart__action">
    <div class="cart__subtotal"></div>
    <button class="btn">Оформить заказ</button>
  </div>
</div>