@import '../../scss/main.scss';

.form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    &__container-items {
        display: flex;
        flex-direction: column;
        width: 32rem;
        padding: 2rem;
        border: 0.1rem #c0c0c0 solid;
        border-radius: 0.5rem;
        list-style-type: none;
        column-count: 2;
      }
      
      &__container-items li {
        display: flex;
        flex-direction: column;
        margin-bottom: 1rem;
        margin-top: 1rem;
        font-size: 1.5rem;
      }
      
      & h1 {
        font-size: 2.5rem;
      }
      
      &__btn-color {
        background-color: $twitter-color;
      }
      
      &__error {
        display: none;
        color: red;
      }
  }