<header class="header">
  <div class="aside">
    <button class="aside__button">
      &#9776;
    </button>
  </div>
  <div class="logo">
    <a class="logo__link" href="/homepage"><span>A</span>zot</a>
  </div>
  <div class="icons">
        <a class="icons__link-profile" href="/profile"><i
            class="fas fa-user"
          >
          </i></a>
        <a class="icons__link-cart" href="/cart"><i
            class="fas fa-shopping-cart"
          >
          </i></a>
    </div>
  </div>
</header>
<aside class="aside-container"></aside> 
<main id="main-container">{{name}}</main>
<footer class="footer">@2021 GoodVibes</footer>