{{! <div class="header" id="header">
  <div class="header-inner">
    <div class="header-left">
      <div class="header-left__brand">
        <button class="header-left__aside">
          &#9776;
        </button>
        <a class="header-left__link" href="/homepage"><svg width="24" height="30" viewBox="0 0 24 30" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M7.4004 0.0820312C5.6133 0.421875 4.13087 1.21875 2.94142 2.47852C2.25587 3.20508 1.51173 4.33594 1.51173 4.6582C1.51173 4.86914 1.72853 5.09766 1.92775 5.09766C2.20314 5.09766 2.32033 5.00391 2.50197 4.64062C2.77736 4.0957 3.25783 3.45703 3.76759 2.95898C5.9297 0.832031 9.19337 0.292969 11.8535 1.62891C13.1719 2.28516 14.3848 3.49219 15.0293 4.77539C16.0781 6.85547 16.0195 9.38086 14.8652 11.748C13.9043 13.7344 12.3867 15.2168 10.2891 16.2305C9.47462 16.623 8.95314 16.8164 8.70705 16.8164C8.29103 16.8164 6.80275 16.1191 5.81251 15.4629C4.95705 14.8945 3.79689 13.7402 3.25197 12.9199C2.59572 11.9238 2.12111 10.8164 1.85158 9.63867C1.69923 8.96484 1.6465 7.64062 1.74025 6.97265C1.81056 6.52148 1.8047 6.47461 1.69923 6.33398C1.54103 6.11719 1.30666 6.04687 1.1133 6.1582C0.902359 6.27539 0.814468 6.63281 0.767593 7.55859C0.591812 11.3613 2.85939 15.0879 6.46876 16.916L7.11915 17.25L7.00197 17.5137C6.82033 17.9238 6.80275 18.4277 6.95509 18.7852C7.14259 19.2187 7.59376 19.6289 8.09181 19.8047L8.25001 19.8633V24.7734C8.25001 29.6602 8.25001 29.6895 8.37306 29.8477C8.5254 30.041 8.88869 30.0645 9.07033 29.8828C9.18751 29.7656 9.18751 29.6895 9.18751 24.8262V19.8926L9.52736 19.7344C9.99025 19.5176 10.2656 19.2715 10.4414 18.9141C10.6348 18.5273 10.6465 18.0117 10.4766 17.5664C10.4121 17.4023 10.3652 17.2617 10.377 17.2559C10.3828 17.25 10.6524 17.1094 10.9746 16.9395C13.7051 15.498 15.5742 13.2422 16.3594 10.4414C16.7871 8.92969 16.7988 7.14844 16.4004 5.71289C15.7735 3.46875 14.0098 1.50586 11.8008 0.585938C10.8047 0.164062 10.1953 0.046875 8.92384 0.0234375C8.16212 0.0117188 7.68165 0.0292969 7.4004 0.0820312ZM8.67775 17.7363L9.01173 17.7715V17.9707C9.01173 18.2402 8.86525 18.5332 8.62501 18.7441C8.39064 18.9492 8.26173 18.9316 7.98048 18.6504C7.75197 18.4219 7.72853 18.2402 7.87501 17.8652C7.96876 17.6426 7.98634 17.625 8.15626 17.6602C8.25587 17.6836 8.49025 17.7129 8.67775 17.7363Z" fill="#1DA1F2"/>
<path d="M16.1602 17.502C15.7676 17.543 14.9648 17.7656 14.5078 17.959C13.8223 18.252 13.2246 18.6445 12.6504 19.1953C11.8184 19.9863 11.2559 20.9121 10.9102 22.0605C10.7578 22.5527 10.7461 22.6641 10.7461 23.7012C10.7402 24.6914 10.7578 24.8672 10.875 25.3125C11.4844 27.5508 13.1602 29.2266 15.3984 29.8359C15.8379 29.9531 16.0254 29.9707 16.9805 29.9707C17.918 29.9648 18.1348 29.9473 18.5625 29.8359C19.541 29.5723 20.7774 28.8633 21.3399 28.2422C21.5274 28.0313 21.5566 27.9668 21.5274 27.8086C21.4863 27.6094 21.3691 27.498 21.1465 27.4395C20.9766 27.3984 20.877 27.457 20.3438 27.9082C19.8633 28.3184 18.9551 28.7813 18.2988 28.957C17.666 29.1211 16.4473 29.1387 15.8086 28.9863C13.7461 28.5 12.2461 27.0059 11.7246 24.9141C11.5723 24.3164 11.5898 23.0273 11.7598 22.4121C11.9004 21.8906 12.252 21.1172 12.5332 20.707C13.2832 19.6172 14.5723 18.7617 15.8731 18.4863C16.4883 18.3574 17.5957 18.3691 18.2109 18.5156C19.8867 18.9199 21.2285 20.0742 21.9316 21.7207C22.4473 22.9219 22.4473 24.5215 21.9316 25.7871C21.7734 26.1797 21.7793 26.3145 21.9785 26.5254C22.1191 26.6777 22.3477 26.7012 22.5293 26.5723C22.6699 26.4727 22.8867 25.9336 23.0801 25.2246C23.1914 24.832 23.209 24.5977 23.209 23.7598C23.2149 22.8633 23.1973 22.7051 23.0566 22.1777C22.2305 19.0957 19.3711 17.1504 16.1602 17.502Z" fill="white"/>
<path d="M13.875 20.9766C13.8106 21.041 13.7461 21.1523 13.7285 21.2227C13.711 21.2988 13.6992 22.2305 13.711 23.2969C13.7285 25.1133 13.7344 25.248 13.8399 25.3652C13.9688 25.5117 14.2676 25.5293 14.4375 25.4062C14.543 25.3301 14.5488 25.2246 14.5781 24.0234L14.6074 22.7227L15.3047 23.7422C16.5469 25.541 16.5762 25.5703 16.9395 25.4238C17.2442 25.2949 17.2559 25.1777 17.2266 23.0625C17.2031 21.1348 17.2031 21.1348 17.0625 20.9941C16.8985 20.8301 16.6875 20.8184 16.5059 20.9707C16.3653 21.082 16.3653 21.1055 16.336 22.3594L16.3067 23.6309L15.4102 22.3359C14.918 21.6269 14.461 21 14.3906 20.9473C14.2149 20.8242 14.0156 20.8359 13.875 20.9766Z" fill="#1DA1F2"/>
<path d="M18.5743 23.0977C18.3106 23.1855 17.9356 23.6133 17.8828 23.877C17.7832 24.4277 18.4512 24.6562 18.7149 24.1582C18.8438 23.9121 19.0547 23.8535 19.1719 24.0352C19.2598 24.1758 19.1426 24.3867 18.5098 25.2539C17.9356 26.0391 17.8653 26.2559 18.0879 26.4785C18.3223 26.7129 19.8575 26.7129 20.0918 26.4785C20.2325 26.3379 20.2325 26.0684 20.0918 25.8926C20.0098 25.7871 19.9102 25.7578 19.6289 25.7344L19.2715 25.7109L19.5645 25.3125C20.0977 24.5801 20.2032 24.1289 19.9688 23.6367C19.7344 23.1562 19.1133 22.916 18.5743 23.0977Z" fill="#1DA1F2"/>
</svg>
<span>A</span>zot</a>
      </div>

    </div>

    <div class="header-right">
      <a class="header-right-avatar" href="/profile"><i class="fas fa-user">
        </i></a>
      <a class="header-right-cart" href="/cart"><i class="fas fa-shopping-cart">
        </i></a>
    </div>
  </div>
</div> }}
<header class="header" id="header">
  <div class="container">
    <div class="header__inner">
      <a class="header__logo" href="#">
        <svg
          class="header__logo-img"
          width="30"
          height="23"
          viewBox="0 0 30 30"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <g clip-path="url(#clip0_13_110)">
            <path
              d="M10.4004 0.0820312C8.6133 0.421875 7.13087 1.21875 5.94142 2.47852C5.25587 3.20508 4.51173 4.33594 4.51173 4.6582C4.51173 4.86914 4.72853 5.09766 4.92775 5.09766C5.20314 5.09766 5.32033 5.00391 5.50197 4.64062C5.77736 4.0957 6.25783 3.45703 6.76759 2.95898C8.9297 0.832031 12.1934 0.292969 14.8535 1.62891C16.1719 2.28516 17.3848 3.49219 18.0293 4.77539C19.0781 6.85547 19.0195 9.38086 17.8652 11.748C16.9043 13.7344 15.3867 15.2168 13.2891 16.2305C12.4746 16.623 11.9531 16.8164 11.707 16.8164C11.291 16.8164 9.80275 16.1191 8.81251 15.4629C7.95705 14.8945 6.79689 13.7402 6.25197 12.9199C5.59572 11.9238 5.12111 10.8164 4.85158 9.63867C4.69923 8.96484 4.6465 7.64062 4.74025 6.97265C4.81056 6.52148 4.8047 6.47461 4.69923 6.33398C4.54103 6.11719 4.30666 6.04687 4.1133 6.1582C3.90236 6.27539 3.81447 6.63281 3.76759 7.55859C3.59181 11.3613 5.85939 15.0879 9.46876 16.916L10.1192 17.25L10.002 17.5137C9.82033 17.9238 9.80275 18.4277 9.95509 18.7852C10.1426 19.2187 10.5938 19.6289 11.0918 19.8047L11.25 19.8633V24.7734C11.25 29.6602 11.25 29.6895 11.3731 29.8477C11.5254 30.041 11.8887 30.0645 12.0703 29.8828C12.1875 29.7656 12.1875 29.6895 12.1875 24.8262V19.8926L12.5274 19.7344C12.9902 19.5176 13.2656 19.2715 13.4414 18.9141C13.6348 18.5273 13.6465 18.0117 13.4766 17.5664C13.4121 17.4023 13.3652 17.2617 13.377 17.2559C13.3828 17.25 13.6524 17.1094 13.9746 16.9395C16.7051 15.498 18.5742 13.2422 19.3594 10.4414C19.7871 8.92969 19.7988 7.14844 19.4004 5.71289C18.7735 3.46875 17.0098 1.50586 14.8008 0.585938C13.8047 0.164062 13.1953 0.046875 11.9238 0.0234375C11.1621 0.0117188 10.6817 0.0292969 10.4004 0.0820312ZM11.6777 17.7363L12.0117 17.7715V17.9707C12.0117 18.2402 11.8652 18.5332 11.625 18.7441C11.3906 18.9492 11.2617 18.9316 10.9805 18.6504C10.752 18.4219 10.7285 18.2402 10.875 17.8652C10.9688 17.6426 10.9863 17.625 11.1563 17.6602C11.2559 17.6836 11.4902 17.7129 11.6777 17.7363Z"
              fill="#1DA1F2"
            ></path>
            <path
              d="M19.1602 17.502C18.7676 17.543 17.9648 17.7656 17.5078 17.959C16.8223 18.252 16.2246 18.6445 15.6504 19.1953C14.8184 19.9863 14.2559 20.9121 13.9102 22.0605C13.7578 22.5527 13.7461 22.6641 13.7461 23.7012C13.7402 24.6914 13.7578 24.8672 13.875 25.3125C14.4844 27.5508 16.1602 29.2266 18.3984 29.8359C18.8379 29.9531 19.0254 29.9707 19.9805 29.9707C20.918 29.9648 21.1348 29.9473 21.5625 29.8359C22.541 29.5723 23.7774 28.8633 24.3399 28.2422C24.5274 28.0313 24.5566 27.9668 24.5274 27.8086C24.4863 27.6094 24.3691 27.498 24.1465 27.4395C23.9766 27.3984 23.877 27.457 23.3438 27.9082C22.8633 28.3184 21.9551 28.7813 21.2988 28.957C20.666 29.1211 19.4473 29.1387 18.8086 28.9863C16.7461 28.5 15.2461 27.0059 14.7246 24.9141C14.5723 24.3164 14.5898 23.0273 14.7598 22.4121C14.9004 21.8906 15.252 21.1172 15.5332 20.707C16.2832 19.6172 17.5723 18.7617 18.8731 18.4863C19.4883 18.3574 20.5957 18.3691 21.2109 18.5156C22.8867 18.9199 24.2285 20.0742 24.9316 21.7207C25.4473 22.9219 25.4473 24.5215 24.9316 25.7871C24.7734 26.1797 24.7793 26.3145 24.9785 26.5254C25.1191 26.6777 25.3477 26.7012 25.5293 26.5723C25.6699 26.4727 25.8867 25.9336 26.0801 25.2246C26.1914 24.832 26.209 24.5977 26.209 23.7598C26.2149 22.8633 26.1973 22.7051 26.0566 22.1777C25.2305 19.0957 22.3711 17.1504 19.1602 17.502Z"
              fill="white"
            ></path>
            <path
              d="M16.875 20.9766C16.8106 21.041 16.7461 21.1523 16.7285 21.2227C16.711 21.2988 16.6992 22.2305 16.711 23.2969C16.7285 25.1133 16.7344 25.248 16.8399 25.3652C16.9688 25.5117 17.2676 25.5293 17.4375 25.4062C17.543 25.3301 17.5488 25.2246 17.5781 24.0234L17.6074 22.7227L18.3047 23.7422C19.5469 25.541 19.5762 25.5703 19.9395 25.4238C20.2442 25.2949 20.2559 25.1777 20.2266 23.0625C20.2031 21.1348 20.2031 21.1348 20.0625 20.9941C19.8985 20.8301 19.6875 20.8184 19.5059 20.9707C19.3653 21.082 19.3653 21.1055 19.336 22.3594L19.3067 23.6309L18.4102 22.3359C17.918 21.6269 17.461 21 17.3906 20.9473C17.2149 20.8242 17.0156 20.8359 16.875 20.9766Z"
              fill="#1DA1F2"
            ></path>
            <path
              d="M21.5743 23.0977C21.3106 23.1855 20.9356 23.6133 20.8828 23.877C20.7832 24.4277 21.4512 24.6562 21.7149 24.1582C21.8438 23.9121 22.0547 23.8535 22.1719 24.0352C22.2598 24.1758 22.1426 24.3867 21.5098 25.2539C20.9356 26.0391 20.8653 26.2559 21.0879 26.4785C21.3223 26.7129 22.8575 26.7129 23.0918 26.4785C23.2325 26.3379 23.2325 26.0684 23.0918 25.8926C23.0098 25.7871 22.9102 25.7578 22.6289 25.7344L22.2715 25.7109L22.5645 25.3125C23.0977 24.5801 23.2032 24.1289 22.9688 23.6367C22.7344 23.1562 22.1133 22.916 21.5743 23.0977Z"
              fill="#1DA1F2"
            ></path>
          </g>
          <defs>
            <clipPath id="clip0_13_110">
              <rect width="30" height="30" fill="white"></rect>
            </clipPath>
          </defs>
        </svg>
        <span>A</span>zot
      </a>
      <button class="header__aside search-item">
          <svg
            width="30"
            height="30"
            viewBox="0 0 30 30"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M0.791016 4.19534C0.298828 4.37698 0 4.82816 0 5.39066C0 5.97659 0.339844 6.4512 0.873047 6.61526C1.19531 6.70901 28.8047 6.70901 29.127 6.61526C29.6602 6.4512 30 5.97659 30 5.39066C30 4.81644 29.7012 4.37112 29.1855 4.18948C28.957 4.11331 27.3926 4.10159 14.9766 4.10745C2.92969 4.10745 0.996094 4.11917 0.791016 4.19534Z"
              fill="white"
            ></path>
            <path
              d="M0.638672 13.8457C0.498047 13.9219 0.304688 14.0977 0.205078 14.2324C0.0410156 14.4609 0.0292969 14.5254 0.0292969 14.9707C0.0292969 15.416 0.0410156 15.4805 0.205078 15.709C0.304688 15.8438 0.498047 16.0195 0.638672 16.0957L0.896484 16.2305H15H29.1035L29.3613 16.0957C29.502 16.0195 29.7012 15.8438 29.7949 15.709C29.959 15.4805 29.9707 15.416 29.9707 14.9707C29.9707 14.5254 29.959 14.4609 29.7949 14.2324C29.7012 14.0977 29.502 13.9219 29.3613 13.8457L29.1035 13.7109H15H0.896484L0.638672 13.8457Z"
              fill="white"
            ></path>
            <path
              d="M0.861328 23.3379C0.328125 23.5078 0 23.9648 0 24.5508C0 25.1309 0.357422 25.6348 0.861328 25.7754C1.17188 25.8633 28.8281 25.8633 29.1387 25.7754C29.6426 25.6348 30 25.1309 30 24.5508C30 23.9473 29.6426 23.4668 29.0859 23.3262C28.7109 23.2324 1.16602 23.2441 0.861328 23.3379Z"
              fill="white"
            ></path>
          </svg>
        </button>
      <nav class="nav">
        <a class="nav__link" href="#">Новинки</a>
        <a class="nav__link" href="#">Акции2</a>
        <a class="nav__link" href="#">Бренды</a>
        {{!-- <button class="header__aside search-item">
          <svg
            width="30"
            height="20"
            viewBox="0 0 30 30"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M0.791016 4.19534C0.298828 4.37698 0 4.82816 0 5.39066C0 5.97659 0.339844 6.4512 0.873047 6.61526C1.19531 6.70901 28.8047 6.70901 29.127 6.61526C29.6602 6.4512 30 5.97659 30 5.39066C30 4.81644 29.7012 4.37112 29.1855 4.18948C28.957 4.11331 27.3926 4.10159 14.9766 4.10745C2.92969 4.10745 0.996094 4.11917 0.791016 4.19534Z"
              fill="white"
            ></path>
            <path
              d="M0.638672 13.8457C0.498047 13.9219 0.304688 14.0977 0.205078 14.2324C0.0410156 14.4609 0.0292969 14.5254 0.0292969 14.9707C0.0292969 15.416 0.0410156 15.4805 0.205078 15.709C0.304688 15.8438 0.498047 16.0195 0.638672 16.0957L0.896484 16.2305H15H29.1035L29.3613 16.0957C29.502 16.0195 29.7012 15.8438 29.7949 15.709C29.959 15.4805 29.9707 15.416 29.9707 14.9707C29.9707 14.5254 29.959 14.4609 29.7949 14.2324C29.7012 14.0977 29.502 13.9219 29.3613 13.8457L29.1035 13.7109H15H0.896484L0.638672 13.8457Z"
              fill="white"
            ></path>
            <path
              d="M0.861328 23.3379C0.328125 23.5078 0 23.9648 0 24.5508C0 25.1309 0.357422 25.6348 0.861328 25.7754C1.17188 25.8633 28.8281 25.8633 29.1387 25.7754C29.6426 25.6348 30 25.1309 30 24.5508C30 23.9473 29.6426 23.4668 29.0859 23.3262C28.7109 23.2324 1.16602 23.2441 0.861328 23.3379Z"
              fill="white"
            ></path>
          </svg>
        </button> --}}
        {{! <form
              id="search-form"
              class="search-form search-item"
              data-reactid=".0.0.2"
            >
              <input
                type="search"
                placeholder="Искать товары"
                data-reactid=".0.0.2.0"
              />
            </form> }}
        {{!-- <div class="wiki-viewer" data-reactid=".0">
          <div class="wiki-viewer-header" data-reactid=".0.0"></div>
          <form class="search-form" data-reactid=".0.1">
            <input
              type="search"
              class="search-input"
              value=""
              data-reactid=".0.1.0"
            /><!-- <button class="search-submit" data-reactid=".0.1.1">
                  Search
                </button> -->
            <ul class="search-suggests" data-reactid=".0.1.2">
              <li class="search-suggest" data-reactid=".0.1.2.$David Bowie">
                David Bowie
              </li>
              <li
                class="search-suggest"
                data-reactid=".0.1.2.$Diana, Princess of Wales"
              >
                Diana, Princess of Wales
              </li>
            </ul>
          </form>
          <ul class="search-results" data-reactid=".0.2"></ul>
        </div> --}}
      </nav>
      <nav class="icons">
        <a class="icons__link-avatar" href="/profile"><svg
            width="30"
            height="25"
            viewBox="0 0 30 31"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M13.0372 1.08553C9.3697 1.58566 6.01463 3.41117 3.61546 6.20568C0.710229 9.59411 -0.558079 14.2391 0.229147 18.5966C1.40374 25.1171 6.55819 30.0372 13.1184 30.8999C14.0868 31.025 15.9861 31.025 16.9546 30.8999C22.9712 30.1122 27.907 25.8298 29.5002 20.0095C29.9125 18.5028 30 17.8401 30 15.9896C30 14.1391 29.9125 13.4764 29.5002 11.9698C27.882 6.08064 22.765 1.7107 16.7109 1.05427C15.8674 0.960495 13.8244 0.97925 13.0372 1.08553ZM16.536 3.11733C21.8903 3.71125 26.4138 7.74985 27.6508 13.0325C28.0819 14.8768 28.0819 17.1024 27.6571 18.9217C27.3134 20.3721 26.6449 21.935 25.8514 23.1103C25.8077 23.1853 25.6703 23.0916 25.2079 22.6789C22.8775 20.6034 20.3034 19.3655 17.3169 18.8904C16.3485 18.7341 14.3055 18.7028 13.2871 18.8279C10.0695 19.2217 7.35791 20.4596 4.86503 22.6789C4.40269 23.0916 4.26524 23.1853 4.2215 23.1103C3.19061 21.5849 2.47211 19.6656 2.19721 17.7338C2.0785 16.8899 2.0785 15.0894 2.19721 14.2516C2.69703 10.7444 4.59012 7.5623 7.41414 5.50549C10.0257 3.60497 13.2621 2.75474 16.536 3.11733Z"
              fill="white"
            ></path>
            <path
              d="M13.7869 5.08037C11.5565 5.5805 9.8508 7.18719 9.21352 9.4003C9.08857 9.83167 9.06982 10.0317 9.06982 10.9882C9.06982 11.9447 9.08857 12.1448 9.21352 12.5762C9.81956 14.6642 11.3628 16.2084 13.4496 16.8148C13.8807 16.9399 14.0806 16.9586 15.0365 16.9586C15.9924 16.9586 16.1923 16.9399 16.6234 16.8148C18.7102 16.2084 20.2534 14.6642 20.8595 12.5762C20.9844 12.1448 21.0032 11.9447 21.0032 10.9882C21.0032 10.0317 20.9844 9.83167 20.8595 9.4003C20.2597 7.32473 18.7165 5.77431 16.6547 5.16789C16.0486 4.99284 14.4117 4.94283 13.7869 5.08037Z"
              fill="white"
            ></path>
          </svg>
        </a>
        <a class="icons__link-like" href="#"><svg
            width="27"
            height="25"
            viewBox="0 0 30 25"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M7.67143 0.131105C6.38041 0.450583 5.55491 0.888126 4.49976 1.82572C3.41978 2.77721 2.47635 4.46488 2.09153 6.11782C1.32809 9.41676 2.09773 12.3823 4.64872 15.973C5.62319 17.3412 7.56591 19.4803 8.90037 20.654C9.08037 20.8068 9.23554 20.9526 9.25416 20.9735C9.30381 21.036 10.6941 22.2306 11.0293 22.5014C12.4879 23.6682 13.4934 24.4183 13.8844 24.6405C14.741 25.1267 16.0692 25.1197 16.9506 24.6197C17.2237 24.4669 18.5333 23.5015 19.1229 23.0154C19.2781 22.8903 19.6071 22.6195 19.8553 22.4181C22.0339 20.6332 23.927 18.7719 25.3297 17.0147C25.6214 16.6536 25.907 16.2994 25.969 16.2161C26.0373 16.1397 26.3228 15.7299 26.6083 15.3062C27.7752 13.563 28.5448 11.7989 28.8428 10.1738C29.0166 9.26397 28.9979 7.59019 28.8055 6.59703C28.489 4.92326 27.8621 3.58284 26.8628 2.42995C25.8076 1.21455 24.4918 0.415857 23.0208 0.103325C22.3629 -0.0355778 21.0222 -0.0355778 20.3643 0.110271C19.3154 0.332516 18.1857 0.895073 17.2609 1.65209C16.7954 2.03407 15.9823 2.90916 15.6037 3.43699L15.3989 3.7148L15.1692 3.40227C13.8596 1.6382 12.1962 0.478363 10.421 0.103325C9.73208 -0.0425224 8.31693 -0.0286312 7.67143 0.131105Z"
              fill="white"
            ></path>
          </svg>
        </a>
        <a class="icons__link-cart" href="/cart"><svg
            width="30"
            height="25"
            viewBox="0 0 30 31"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M13.4375 1.07395C10.1797 1.69714 7.72656 4.06258 7.52344 6.78316L7.47656 7.40635H4.14844C0.96875 7.40635 0.8125 7.41306 0.5625 7.54037C0.421875 7.61408 0.242188 7.76821 0.15625 7.88882C0 8.10995 0 8.25067 0 18.2418C0 27.9917 0.0078125 28.3803 0.148438 28.7757C0.507812 29.7607 1.49219 30.5984 2.64844 30.8865C3.03125 30.9803 4.34375 30.9937 15 30.9937C25.6562 30.9937 26.9688 30.9803 27.3516 30.8865C28.5078 30.5984 29.4922 29.7607 29.8516 28.7757C29.9922 28.3803 30 27.9917 30 18.2418C30 8.25067 30 8.10995 29.8438 7.88882C29.7578 7.76821 29.5781 7.61408 29.4375 7.54037C29.1875 7.41306 29.0312 7.40635 25.8516 7.40635H22.5234L22.4766 6.78316C22.3125 4.58525 20.6016 2.50126 18.1719 1.54302C17.1328 1.12756 16.5781 1.02705 15.1953 1.00024C14.2969 0.980139 13.8047 1.00694 13.4375 1.07395ZM15.7422 3.21826C17.8203 3.41258 19.7422 5.12803 19.8984 6.91718L19.9453 7.40635H15H10.0547L10.1016 6.91718C10.2344 5.41617 11.5469 3.98887 13.3125 3.41929C13.8281 3.25176 14.7578 3.11774 15.1562 3.15795C15.2656 3.17135 15.5312 3.19815 15.7422 3.21826ZM18.0469 11.8692C18.8828 12.2913 18.8828 13.2429 18.0469 13.665C17.7812 13.7991 17.6562 13.8058 15 13.8058C12.3438 13.8058 12.2188 13.7991 11.9531 13.665C10.9688 13.1759 11.1797 11.9898 12.2891 11.7553C12.4219 11.7285 13.7188 11.7084 15.1562 11.7151C17.6406 11.7285 17.7891 11.7352 18.0469 11.8692Z"
              fill="white"
            ></path>
          </svg>
        </a>
      </nav>
    </div>
  </div>
</header>
<aside class="aside-container"></aside>
<div class="layout" id="layout">

</div>
<div class="footer" id="footer">
  <div class="footer-inner">
    <div class="footer-corp">
      <div class="footer-corp-inner">
        <span>© 2021 GoodVibes</span>
      </div>
    </div>
  </div>
</div>