<header>
  <div class="brand">
  <button class="aside-open-button">
    &#9776;
  </button>
  <a href="/homepage" class="logo"><span>A</span>zot</a>
  </div>
  <div class="icons">
    <a href="/profile" , class="profile-href"><i
        class="fas fa-user"
        id="login-btn"
      >
      </i></a>
    <a href="/cart" , class="cart-href"><i
        class="fas fa-shopping-cart"
        id="cart-btn"
      >
      </i></a>
  </div>
</header>
<aside id="aside-container"></aside>
<main id="main-container">{{name}}</main>
<footer>@2021 GoodVibes</footer>