{{!-- <header>
  <div class="brand">
  <button class="aside-open-button">
    &#9776;
  </button>
  <a href="/homepage" class="logo"><span>A</span>zot</a>
  </div>
  <div class="icons">
    <a href="/profile" , class="profile-href"><i
        class="fas fa-user"
        id="login-btn"
      >
      </i></a>
    <a href="/cart" , class="cart-href"><i
        class="fas fa-shopping-cart"
        id="cart-btn"
      >
      </i></a>
  </div>
</header>
<aside id="aside-container"></aside>
<main id="main-container">{{name}}</main>
<footer>@2021 GoodVibes</footer>             --}}

<header class="header">
  <div class="aside">
    <button class="aside__button">
      &#9776;
    </button>
  </div>
  <div class="logo">
    <a class="logo__link" href="/homepage"><span>A</span>zot</a>
  </div>
  <div class="icons">
        <a class="icons__link-profile" href="/profile"><i
            class="fas fa-user"
            id="login-btn"
          >
          </i></a>
        <a class="icons__link-cart" href="/cart"><i
            class="fas fa-shopping-cart"
            id="cart-btn"
          >
          </i></a>
    </div>
  </div>
</header>
<aside class="aside-container"></aside> 
<main id="main-container">{{name}}</main>
<footer class="footer">@2021 GoodVibes</footer>