<div class="cart-list">
  <ul class="cart-list-container">
    <li>
      <h3>Выбранные товары</h3>
      <div>Цена</div>
    </li>
    <div class="items"></div>
  </ul>
</div>
<div class="cart-action">
  <div class="subtotal"></div>
  <button id="checkout-button" class="primary fw">Оформить заказ</button>
</div>