<div class="layout-inner">
  <div class="container">
    <span class="g-page-title">Корзина</span>
    <p><div class="basket-empty-text">Ваша корзина пуста.
        <a class="basket-empty-text__link" href="/homepage">Вернуться к покупкам</a>
      </div></p>
  </div>
</div>