<div class="aside-header">
    <div>Категории</div>
    <button class="aside-close-button" id="aside-close-button">x</button>
  </div>
  <div class="aside-body">
    <ul class="categories">
      <li>
        <div class="title-category">
          Одежда
        </div>
        <div class="category">
          Мужская одежда
        </div>
       <div class="category">
          Верхняя одежда
        </div> 
      </li>
     {{!--  <li>
        <a href="/#/?q=watch"
          >Часы
        </a>
      </li>  --}}
    </ul>
  </div>