<div class="navbar-mobile">
  <a class="navbar-mobile__link--home" data-link-type="home" href="/" aria-label="Главная страница">
    <span class="navbar-mobile__icon navbar-mobile__icon--home"></span>
  </a>
  <a class="navbar-mobile__link--basket" href="/cart" aria-label="Корзина">
    <span class="navbar-mobile__icon navbar-mobile__icon--basket">
    </span>
  </a>
  <a class="navbar-mobile__link--favorites" href="/favorites" aria-label="Избранные товары">
    <span class="navbar-mobile__icon navbar-mobile__icon--favorites"></span>
  </a>
  <a class="navbar-mobile__link--profile" href="/profile" aria-label="Личный кабинет">
    <span class="navbar-mobile__icon navbar-mobile__icon--profile">
    </span>
  </a>
</div>