<div class="content">
        <div class="back-to-result">
          <a href="/">Вернуться в каталог</a>
        </div>
        <div class="details">
          <div class="details-image">
            <img src="{{product.image}}" alt="{{product.name}}" />
          </div>
          <div class="details-info">
            <ul>
              <li>
                <h1>{{product.name}}</h1>
              </li>
              <li>
              </li>
              <li>
                Цена: <strong>{{product.price}}</strong>
              </li>
              <li>
                Описание:
                <div>
                  Здесь будет прекрасное описание товара
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>