<div class="checkout-steps">
  <div class="checkout-steps_active">Оформление заказа</div>
  <div class="checkout-steps_none">Оплата</div>
  <div class="checkout-steps_none">Доставка</div>
</div>
<div class="form">
  <form class="form__container">
    <ul class="form__container-items">
      <li>
        <h1>Оформление заказа</h1>
      </li>
      <li>
        <label for="country">Страна</label>
        <input class="form__country" type="text" name="country" id="country" />
      </li>
      <li>
        <label for="city">Город</label>
        <input class="form__city" type="text" name="city" id="city" />
      </li>
      <li>
        <label for="address">Улица, дом, квартира</label>
        <input class="form__address" type="text" name="address" id="address" />
      </li>
      <li>
        <label for="postalCode">Почтовый индекс</label>
        <input
          class="form__postalCode"
          type="text"
          name="postalCode"
          id="postalCode"
        />
      </li>

      <a href="/update">
        <button type="submit" class="btn">Продолжить</button>
      </a>
    </ul>
  </form>
</div>