<a class="auth-content-inner__close" href="/login">
  <svg
    version="1.1"
    id="Capa_1"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    x="0px"
    y="0px"
    viewBox="0 0 512.001 512.001"
    style="enable-background:new 0 0 512.001 512.001;"
    xml:space="preserve"
  >
    <g>
      <g>
        <path
          d="M284.286,256.002L506.143,34.144c7.811-7.811,7.811-20.475,0-28.285c-7.811-7.81-20.475-7.811-28.285,0L256,227.717
			L34.143,5.859c-7.811-7.811-20.475-7.811-28.285,0c-7.81,7.811-7.811,20.475,0,28.285l221.857,221.857L5.858,477.859
			c-7.811,7.811-7.811,20.475,0,28.285c3.905,3.905,9.024,5.857,14.143,5.857c5.119,0,10.237-1.952,14.143-5.857L256,284.287
			l221.857,221.857c3.905,3.905,9.024,5.857,14.143,5.857s10.237-1.952,14.143-5.857c7.811-7.811,7.811-20.475,0-28.285
			L284.286,256.002z"
        ></path>
      </g>
    </g>
    <g>
    </g>
    <g>
    </g>
    <g>
    </g>
    <g>
    </g>
    <g>
    </g>
    <g>
    </g>
    <g>
    </g>
    <g>
    </g>
    <g>
    </g>
    <g>
    </g>
    <g>
    </g>
    <g>
    </g>
    <g>
    </g>
    <g>
    </g>
    <g>
    </g>
  </svg>
</a>
<div class="auth" id="auth">
  <div class="auth-box">
    <h2>Вход</h2>
    <form class="auth-box-form" id="auth-form">
      <div class="user-box">
        <input class="user-box__login" type="text" />
        <label>Имя пользователя</label>
      </div>
      <div class="user-box">
        <input class="user-box__password" type="password" />
        <label>Пароль</label>
      </div>
      <div class="auth-content-inner__error" id="auth-error">
        <span></span>
      </div>
      <button class="auth-btn" type="submit">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        Войти
      </button>
    </form>
    <div class="auth-content-form-registration">
      <span>Новый пользователь?</span>
      <a
        href="/signup"
        class="auth-content-form-registration__link"
        data-action="regClick"
      >Создать аккаунт</a>
    </div>
  </div>
</div>