<div class="auth" id="auth">
  <div class="auth-content" id="auth-content">
    <div class="auth-content-inner">
      <div class="auth-content-inner__title">
        <span>Вход</span>
      </div>
      <form class="auth-content-form" id="auth-form">

        <div>
          <input
            class="auth-content-form__input auth-content-form__login"
            id="auth-login"
            type="login"
            placeholder="Логин"
          />
        </div>

        <div>
          <input
            class="auth-content-form__input auth-content-form__password"
            id="auth-password"
            type="password"
            placeholder="Пароль"
          />
        </div>
        <div class="auth-content-inner__error" id="auth-error">
          <span></span>
        </div>
        <button class="auth-content-form__button" type="submit">Войти</button>
      </form>
      <div class="auth-content-form-registration">
        <span>Новый пользователь?</span>
        <a
          href="/signup"
          class="auth-content-form-registration__link"
          data-action="regClick"
        >Создать аккаунт</a>
      </div>
    </div>
  </div>
</div>