/* @import '../../../scss/style.scss';

.order {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
  justify-content: space-between;

  &__info {
    flex: 3 1 60rem;
  }

  & h2 {
    margin: 0;
    padding-bottom: 1rem;
    font-size: 2rem;
  }

  &__info-address {
    border: 0.1rem $light-gray-color solid;
    border-radius: 0.5rem;
    background-color: $bg-color-1;
    padding: 1rem;
    margin: 1rem;
    margin-top: 0;
  }

  &__info-payment {
    border: 0.1rem $light-gray-color solid;
    border-radius: 0.5rem;
    background-color: $bg-color-1;
    padding: 1rem;
    margin: 1rem;
  }

  &__cart-list {
    border: 0.1rem $light-gray-color solid;
    border-radius: 0.5rem;
    background-color: $bg-color-1;
    padding: 1rem;
    margin: 1rem;
    list-style-type: none;
  }

  &__action {
    flex: 1 1 20rem;
    border: 0.1rem $light-gray-color solid;
    border-radius: 0.5rem;
    background-color: $bg-color-1;
    padding: 1rem;
  }

  &__action ul {
    padding: 0;
    list-style-type: none;
  }

  &__action li {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
  }

  &__action-total {
    font-size: 2rem;
    font-weight: bold;
    color: $twitter-color;
  }
}

.checkout-steps {
  display: flex;
  justify-content: space-between;
  width: 40rem;
  margin: 1rem auto;
}

.checkout-steps_none {
  border-top: 0.3rem $light-gray-color solid;
  color: $light-gray-color;
  @extend %steps;
}

.checkout-steps_active {
  border-top: 0.3rem $twitter-color solid;
  color: $twitter-color;
  @extend %steps;
} */