<br>
<div class="user-container">
  {{!-- <img class="user-avatar" src="{{avatar}}"> --}}
  <span>{{username}}</span>
  <div class="info-card-rating">
    <div class="info-card-rating__rate">
      <span class="star"></span>
    </div>
    <div class="info-card-rating__text">{{rating}}</div>

  </div>
</div>
<div class="comment-text">{{text}}</div>