<div class="popup__content">
  <div class="popup-search__header">
    <div class="popup-search__input">
      <form class="search-form">
        <input type="search" class="search-input-popup" placeholder="Искать товары" />
      </form>
    </div>
    <button class="popup-search__cancel">Отмена</button>
  </div>
  <div class="popup-search__hints">
    <ul class="search-suggests-popup">
    </ul>
  </div>
</div>
