@import "../../scss/main.scss";

.aside-container {
  /* position: fixed;
  width: 30rem;
  background-color: $bg-color-1;
  height: 100%;
  z-index: 1;
  transform: translateX(-30.1rem);
  transition: all 0.5s;
  border-right: 0.1rem $dirty-gray-color solid;
  padding: 40px; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  width: calc(100% - 52px);
  max-width: 1223px;
  height: 100%;
  /* position: fixed; */
  top: 0;
  left: -105%;
  z-index: 99;
  position: fixed;
  /* transform: translateX(-30.1rem);
  transition: all 0.5s; */

  &.open {
    /* transform: translateX(0); */
    left: 0;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4rem 0.5rem 1rem 0rem;
    color: $dirty-gray-color;
    font-size: 1vw;
  }

  &__main {
    overflow-y: scroll;
    width: 308px;
    height: 100%;
    flex-shrink: 0;
    background: #fff;
    padding: 20px 0 20px 30px;
    overflow: auto;
  }

  &__body {
    font-size: 1vw;
  }
}

.aside-header {
  z-index: 100;
  position: fixed;
  right: 0;
  left: 0;
  -webkit-transition: top 0.3s ease 0s;
  transition: top 0.3s ease 0s;
}

.categories {
  padding: 0;

  & > li {
    list-style-type: none;
  }

  &__link {
    display: flex;
    padding: 1rem;
    padding-left: 2rem;
    justify-content: space-between;
  }

  &__span-fa {
    font-size: 1.4rem;
    color: $dirty-gray-color;
  }
}

.body-overflow {
  overflow: hidden;
}

@media screen and (max-width: $breakDesktop) {
  .aside-container {
    width: 100%;
  }
  .aside-container__main {
    width: 100%;
    padding: 72px 0 52px;
  }
}
