<div class="orders__table_cell orders__table_cell--info">
  <div class="orders__order_position">
    <a class="orders__order_position-link"
      href="/products/81240007-lopatka-derevyannaya-bolshaya-28-5-4-5-0-4-sm-p-l-proff-cuisine">{{name}}</a>
    <span class="orders__order_position-count">1 шт</span>
  </div>
</div>
<div class="orders__table_cell orders__table_cell--cost">
  <span class="orders__order_cost">{{price}}
    <span class="currency">₽</span></span>
</div>