@import './style.scss';

html {
  font-size: 62.5%;
  font-family: "Nunito", sans-serif;
}

body {
  height: 100vh;
}

a {
  color: $text-color-1;
  text-decoration: none;

  &:hover {
    color: $twitter-color;
  }
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

button {
  cursor: pointer;
}

select,
input,
button {
  font-size: 1.6rem;
  padding: 1rem;
  border: 0.1rem $dirty-gray-color solid;
  border-radius: 0.5rem;
  cursor: pointer;
}

input:hover,
button:hover {
  border: 0.1rem #404040 solid;
}

.btn {
  width: 100%;
  background-color: $twitter-color;
}