{{! <form>
  <input id="input" type="search" autocomplete="off" spellcheck="false" placeholder="Искать на Azot"
    class="search-input">

  <button type="submit" class="search-btn">поиск</button>
</form> }}

{{! <form class="search-form">
  <input
    type="search"
    class="search-input"
    placeholder="Искать товары"
  /><!-- <button class="search-submit" data-reactid=".0.1.1">
                  Search
                </button> -->
  <ul class="search-suggests">
  </ul>
</form> }}

<div class="search-catalog">
  <form class="search-form">
    <input type="search" class="search-input" placeholder="Искать товары" />
    <ul class="search-suggests">
    </ul>
  </form>
</div>