<div class="form-container">
  <form id="register-form">
    <ul class="form-items">
      <li>
        <h1>Создать аккаунт</h1>
      </li>
      <li>
        <label for="login">Имя пользователя</label>
        <input type="login" name="login" class="login" />
      </li>
      <li>
        <label for="email">Email</label>
        <input type="email" name="email" class="email" />
      </li>
      <li>
        <label for="password">Пароль</label>
        <input type="password" name="password" class="password" />
      </li>
      <li>
        <label for="repassword">Подтвердить пароль</label>
        <input type="password" name="repassword" class="repassword" />
      </li>
      <li>
        <label id="alert-label">error</label>
      </li>
      <li>
        <a href="/signup">
          <button type="submit" class="primary">Зарегистрироваться</button>
        </a>
      </li>
      <li>
        <div>
          Уже есть аккаунт?
          <a href="/login" id="signin-href">Войти</a>
        </div>
      </li>
    </ul>
  </form>
</div>