header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  right: 0;
  background: #333;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 9%;
}

header .logo {
  font-size: 2.5rem;
  font-weight: bolder;
  color: #fff;
  text-transform: uppercase;
}

header .logo span {
  color: var(--twitter-color);
}

header .navbar a {
  color: #fff;
  font-size: 2rem;
  margin: 0 0.8rem;
}

header .navbar a:hover {
  color: var(--twitter-color);
}

header .icons i {
  font-size: 2.5rem;
  color: #fff;
  cursor: pointer;
  margin-right: 2rem;
}

header .icons i:hover {
  color: var(--twitter-color);
}

header .search-bar-container {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  padding: 1.5rem 2rem;
  background: #333;
  border-top: 0.1rem solid rgba(255, 255, 255, 0.2);
  display: flex;
  align-items: center;
  z-index: 1001;
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
}

header .search-bar-container.active {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

header .search-bar-container #search-bar {
  width: 100%;
  padding: 1rem;
  text-transform: none;
  color: #333;
  font-size: 1.7rem;
  border-radius: 0.5rem;
}

header .search-bar-container label {
  color: #fff;
  cursor: pointer;
  font-size: 3rem;
  margin-left: 1.5rem;
}

header .search-bar-container label:hover {
  color: var(--twitter-color);
}

#menu-bar {
  color: #fff;
  border: 0.1rem solid #fff;
  border-radius: 0.5rem;
  font-size: 3rem;
  padding: 0.5rem 1.2rem;
  cursor: pointer;
  display: none;
}
