name: Frontend Build

on:
  push:
    branches:
      - deploy


jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Install Node
        uses: actions/setup-node@v1
        with:
          node-version: 14

      - name: Checkout code
        uses: actions/checkout@v2

#      - name: Install ESLint
#        run: npm install eslint

#      - name: Run ESLint
#        run: npm run test

  build:
    runs-on: ubuntu-latest

    steps:
      - name: Install Node
        uses: actions/setup-node@v1
        with:
          node-version: 14

      - name: Checkout code
        uses: actions/checkout@v2

      - name: Install deps
        run: npm ci

      - name: Build
        run: npm run build

      - name: Upload build result
        uses: actions/upload-artifact@v1
        with:
          name: build
          path: ./public/dist

  deploy:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Download build
        uses: actions/download-artifact@v1
        with:
          name: build

      - name: Transfer build files to server
        uses: appleboy/scp-action@v0.0.10
        with:
          host: 37.139.33.76
          username: ubuntu
          port: 22
          password: ${{ secrets.PASSWORD }}
          source: "build/*"
          target: "/home/ubuntu/deployFront"
          strip_components: 1