<div class="layout-inner">
  <div class="search-block">
    <div class="search-left">
     {{!--  <div class="search-filter">
      </div> --}}
    </div>

    <div class="product-table" id="product-table{{id}}">
      <div class="product-table-inner">
        <span class="product-table__title">Все товары</span>

        <div class="product-table-body" id="product-table-body{{id}}"></div>

      </div>
    </div>
  </div>
</div>